In [1]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [53]:
# 관측 full data
#fulldata = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/full_가중치완료.csv')

# 인구수 data
airdata = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/air_가중치완료.csv')

In [54]:
airdata['측정일'] = airdata['측정일'].astype(str)
airdata['측정일'] = airdata['측정일'].str[:4] + '-' + airdata['측정일'].str[4:6] + '-' + airdata['측정일'].str[6:]
airdata['측정일'] = pd.to_datetime(airdata['측정일'] )

In [12]:
airdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36899 entries, 0 to 36898
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      36899 non-null  object
 1   측정일     36899 non-null  datetime64[ns]
 2   SO2     36899 non-null  float64
 3   CO      36899 non-null  float64
 4   O3      36899 non-null  float64
 5   NO2     36899 non-null  float64
 6   PM10    36899 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 2.0+ MB

In [13]:
airdata.head()

   지역        측정일       SO2        CO        O3       NO2       PM10
0  강원 2011-01-01  0.001384  0.204991  0.002894  0.005240  10.051255
1  강원 2011-01-02  0.001390  0.246259  0.002276  0.006155  11.536032
2  강원 2011-01-03  0.001326  0.266888  0.002125  0.007304  12.720615
3  강원 2011-01-04  0.001285  0.241183  0.002283  0.007152  12.993877
4  강원 2011-01-05  0.001331  0.127681  0.004252  0.004382   9.728090

In [ ]:
# lag1  (1/1 -> 1/2) 
# lag2  (1/1 -> 1/3)
# lag3  (1/1 -> 1/4)
# na값은 뒤에서 채워오기

In [55]:
lag_columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10']
lag1_columns = ['S02_lag1','CO_lag1','O3_lag1','NO2_lag1','PM10_lag1']
lag2_columns = ['S02_lag2','CO_lag2','O3_lag2','NO2_lag2','PM10_lag2']
lag3_columns = ['S02_lag3','CO_lag3','O3_lag3','NO2_lag3','PM10_lag3']

In [56]:
airdata[lag1_columns] = airdata.groupby(["지역"])[['SO2', 'CO', 'O3', 'NO2', 'PM10']].shift(1)
airdata[lag2_columns] = airdata.groupby(["지역"])[['SO2', 'CO', 'O3', 'NO2', 'PM10']].shift(2)
airdata[lag3_columns] = airdata.groupby(["지역"])[['SO2', 'CO', 'O3', 'NO2', 'PM10']].shift(3)

In [57]:
airdata

,지역,측정일,SO2,CO,O3,NO2,PM10,S02_lag1,CO_lag1,O3_lag1,...,S02_lag2,CO_lag2,O3_lag2,NO2_lag2,PM10_lag2,S02_lag3,CO_lag3,O3_lag3,NO2_lag3,PM10_lag3
0,강원,2011-01-01,0.001384,0.204991,0.002894,0.005240,10.051255,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,강원,2011-01-02,0.001390,0.246259,0.002276,0.006155,11.536032,0.001384,0.204991,0.002894,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강원,2011-01-03,0.001326,0.266888,0.002125,0.007304,12.720615,0.001390,0.246259,0.002276,...,0.001384,0.204991,0.002894,0.005240,10.051255,NaN,NaN,NaN,NaN,NaN
3,강원,2011-01-04,0.001285,0.241183,0.002283,0.007152,12.993877,0.001326,0.266888,0.002125,...,0.001390,0.246259,0.002276,0.006155,11.536032,0.001384,0.204991,0.002894,0.005240,10.051255
4,강원,2011-01-05,0.001331,0.127681,0.004252,0.004382,9.728090,0.001285,0.241183,0.002283,...,0.001326,0.266888,0.002125,0.007304,12.720615,0.001390,0.246259,0.002276,0.006155,11.536032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36894,충북,2016-12-27,0.003323,0.484438,0.015762,0.019712,37.691672,0.003339,0.911688,0.003956,...,0.003257,0.966412,0.004609,0.024566,77.022513,0.003371,0.614494,0.012885,0.019426,63.816264
36895,충북,2016-12-28,0.004349,0.576788,0.007123,0.030069,46.091959,0.003323,0.484438,0.015762,...,0.003339,0.911688,0.003956,0.026337,52.143783,0.003257,0.966412,0.004609,0.024566,77.022513
36896,충북,2016-12-29,0.003907,0.514546,0.011915,0.024054,36.984378,0.004349,0.576788,0.007123,...,0.003323,0.484438,0.015762,0.019712,37.691672,0.003339,0.911688,0.003956,0.026337,52.143783
36897,충북,2016-12-30,0.004012,0.659682,0.008614,0.027316,38.639867,0.003907,0.514546,0.011915,...,0.004349,0.576788,0.007123,0.030069,46.091959,0.003323,0.484438,0.015762,0.019712,37.691672
36898,충북,2016-12-31,0.004605,0.925149,0.004756,0.027944,52.454183,0.004012,0.659682,0.008614,...,0.003907,0.514546,0.011915,0.024054,36.984378,0.004349,0.576788,0.007123,0.030069,46.091959

In [58]:
pd.set_option('display.max_columns', None)

In [60]:
airdata.head()

,지역,측정일,SO2,CO,O3,NO2,PM10,S02_lag1,CO_lag1,O3_lag1,NO2_lag1,PM10_lag1,S02_lag2,CO_lag2,O3_lag2,NO2_lag2,PM10_lag2,S02_lag3,CO_lag3,O3_lag3,NO2_lag3,PM10_lag3
0,강원,2011-01-01,0.001384,0.204991,0.002894,0.005240,10.051255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,강원,2011-01-02,0.001390,0.246259,0.002276,0.006155,11.536032,0.001384,0.204991,0.002894,0.005240,10.051255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강원,2011-01-03,0.001326,0.266888,0.002125,0.007304,12.720615,0.001390,0.246259,0.002276,0.006155,11.536032,0.001384,0.204991,0.002894,0.005240,10.051255,NaN,NaN,NaN,NaN,NaN
3,강원,2011-01-04,0.001285,0.241183,0.002283,0.007152,12.993877,0.001326,0.266888,0.002125,0.007304,12.720615,0.001390,0.246259,0.002276,0.006155,11.536032,0.001384,0.204991,0.002894,0.005240,10.051255
4,강원,2011-01-05,0.001331,0.127681,0.004252,0.004382,9.728090,0.001285,0.241183,0.002283,0.007152,12.993877,0.001326,0.266888,0.002125,0.007304,12.720615,0.001390,0.246259,0.002276,0.006155,11.536032

In [66]:
for col in lag1_columns:
 airdata[col] = airdata[col].fillna(airdata[col][1]) 

for col in lag2_columns:
 airdata[col] = airdata[col].fillna(airdata[col][2]) 

for col in lag3_columns:
 airdata[col] = airdata[col].fillna(airdata[col][3])

In [67]:
airdata.head()

,지역,측정일,SO2,CO,O3,NO2,PM10,S02_lag1,CO_lag1,O3_lag1,NO2_lag1,PM10_lag1,S02_lag2,CO_lag2,O3_lag2,NO2_lag2,PM10_lag2,S02_lag3,CO_lag3,O3_lag3,NO2_lag3,PM10_lag3
0,강원,2011-01-01,0.001384,0.204991,0.002894,0.005240,10.051255,0.001384,0.204991,0.002894,0.005240,10.051255,0.001384,0.204991,0.002894,0.005240,10.051255,0.001384,0.204991,0.002894,0.005240,10.051255
1,강원,2011-01-02,0.001390,0.246259,0.002276,0.006155,11.536032,0.001384,0.204991,0.002894,0.005240,10.051255,0.001384,0.204991,0.002894,0.005240,10.051255,0.001384,0.204991,0.002894,0.005240,10.051255
2,강원,2011-01-03,0.001326,0.266888,0.002125,0.007304,12.720615,0.001390,0.246259,0.002276,0.006155,11.536032,0.001384,0.204991,0.002894,0.005240,10.051255,0.001384,0.204991,0.002894,0.005240,10.051255
3,강원,2011-01-04,0.001285,0.241183,0.002283,0.007152,12.993877,0.001326,0.266888,0.002125,0.007304,12.720615,0.001390,0.246259,0.002276,0.006155,11.536032,0.001384,0.204991,0.002894,0.005240,10.051255
4,강원,2011-01-05,0.001331,0.127681,0.004252,0.004382,9.728090,0.001285,0.241183,0.002283,0.007152,12.993877,0.001326,0.266888,0.002125,0.007304,12.720615,0.001390,0.246259,0.002276,0.006155,11.536032

In [68]:
airdata.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/air_가중치완료_lag.csv', index=False)