In [1]:
# 구글 드라이브 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os

# !pip install -q datatable
# import datatable as dt 

import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0728/train_0728.csv')
test = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/train_test/ver_0728/test_0728.csv')

In [4]:
df = pd.concat([train, test], axis=0, ignore_index=True)
df['yyyymmdd'] = pd.to_datetime(df['yyyymmdd'], format='%Y-%m-%d')

In [5]:
df.head(15)

,yyyymmdd,area,sex,frequency,dd_mes,sum_dpth_fhsc,dd_mefs,ssrate,ss_dur,sum_ss_hr,...,temp_24_shift,temp_48_shift,humid_24_shift,humid_48_shift,max_temp_24_shift,min_temp_24_shift,wind_24_shift,wind_48_shift,pop_over50,num_back
0,2012-01-01,강원,1,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,-2.769171,-2.780795,62.145093,54.361839,2.777686,-6.639387,2.430259,2.303822,575828,0
1,2012-01-01,강원,2,3.0,10.136053,2.155943,1.303480,35.856285,9.632506,3.444997,...,-2.769171,-2.780795,62.145093,54.361839,2.777686,-6.639387,2.430259,2.303822,575828,0
2,2012-01-01,경기,1,4.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,-5.236538,-4.059202,64.109753,67.450302,0.981884,-10.448281,0.974171,1.550242,3332933,1
3,2012-01-01,경기,2,5.0,1.029764,0.085438,0.096118,25.748326,9.669065,2.485800,...,-5.236538,-4.059202,64.109753,67.450302,0.981884,-10.448281,0.974171,1.550242,3332933,1
4,2012-01-01,경남,1,2.0,0.865082,0.293056,0.533394,29.514334,9.814313,2.896959,...,0.438426,1.364762,48.460756,53.893523,6.489520,-4.497434,1.941488,2.135139,1089376,1
5,2012-01-01,경남,2,1.0,0.865082,0.293056,0.533394,29.514334,9.814313,2.896959,...,0.438426,1.364762,48.460756,53.893523,6.489520,-4.497434,1.941488,2.135139,1089376,1
6,2012-01-01,경북,1,6.0,5.110335,0.787695,1.352538,36.526885,9.765077,3.569523,...,-1.184078,0.056853,51.533006,53.660335,4.634573,-5.744978,2.754725,2.782531,1024735,0
7,2012-01-01,경북,2,1.0,5.110335,0.787695,1.352538,36.526885,9.765077,3.569523,...,-1.184078,0.056853,51.533006,53.660335,4.634573,-5.744978,2.754725,2.782531,1024735,0
8,2012-01-01,광주,1,0.0,0.100000,0.100000,0.100000,1.000000,9.800000,0.100000,...,-0.325000,0.425000,67.500000,79.375000,5.000000,-3.900000,1.487500,1.487500,405323,0
9,2012-01-01,광주,2,2.0,0.100000,0.100000,0.100000,1.000000,9.800000,0.100000,...,-0.325000,0.425000,67.500000,79.375000,5.000000,-3.900000,1.487500,1.487500,405323,0
10,2012-01-01,대구,1,1.0,0.300000,0.300000,0.300000,14.300000,9.800000,1.400000,...,-0.462500,1.175000,42.625000,49.625000,5.000000,-5.000000,2.512500,2.750000,799990,0
11,2012-01-01,대구,2,0.0,0.300000,0.300000,0.300000,14.300000,9.800000,1.400000,...,-0.462500,1.175000,42.625000,49.625000,5.000000,-5.000000,2.512500,2.750000,799990,0
12,2012-01-01,대전,1,4.0,2.300000,2.400000,2.300000,2.100000,9.700000,0.200000,...,-3.175000,-1.500000,61.625000,69.500000,1.400000,-9.200000,0.950000,1.462500,434479,0
13,2012-01-01,대전,2,1.0,2.300000,2.400000,2.300000,2.100000,9.700000,0.200000,...,-3.175000,-1.500000,61.625000,69.500000,1.400000,-9.200000,0.950000,1.462500,434479,0
14,2012-01-01,부산,1,3.0,0.000000,0.000000,0.000000,51.000000,9.800000,5.000000,...,2.400000,3.375000,39.375000,48.125000,7.000000,-1.900000,2.625000,3.350000,1286027,2

In [6]:
disease = pd.read_csv("/content/drive/MyDrive/날씨 빅콘/data/건강데이터/지역별_성별_질환력.csv", encoding = 'cp949' )

In [8]:
disease.head()

,시도별(1),성별(1),2012,2012.1,2012.2,2012.3,2012.4,2012.5,2012.6,2012.7,...,2016.16,2016.17,2016.18,2016.19,2016.20,2016.21,2016.22,2016.23,2016.24,2016.25
0,시도별(1),성별(1),진단여부,진단여부,진단여부,진단여부,진단여부,진단여부,진단여부,진단여부,...,가족력여부(부모형제자매),가족력여부(부모형제자매),가족력여부(부모형제자매),가족력여부(부모형제자매),가족력여부(부모형제자매),가족력여부(부모형제자매),B형 간염 바이러스 보유 여부,B형 간염 바이러스 보유 여부,B형 간염 바이러스 보유 여부,B형 간염 바이러스 보유 여부
1,시도별(1),성별(1),소계,뇌졸중(중풍),심장병(심근경색/협심증),고혈압,당뇨병,이상지질혈증,폐결핵,기타(암포함),...,소계,뇌졸중(중풍),심장병(심근경색/협심증),고혈압,당뇨병,기타(암포함),소계,있음,없음,모름
2,계,합계,4093797,87694,219140,1924668,679000,343999,144897,694399,...,7300499,877149,573069,2120864,1619993,2109424,14536739,553981,10434151,3548607
3,계,남자,2102402,49439,119246,1007000,391154,148573,96923,290067,...,3589470,452085,290650,996284,804549,1045902,7771167,316586,5477838,1976743
4,계,여자,1991395,38255,99894,917668,287846,195426,47974,404332,...,3711029,425064,282419,1124580,815444,1063522,6765572,237395,4956313,1571864

In [9]:
disease.columns

Index(['시도별(1)', '성별(1)', '2012', '2012.1', '2012.2', '2012.3', '2012.4',
       '2012.5', '2012.6', '2012.7',
       ...
       '2016.16', '2016.17', '2016.18', '2016.19', '2016.20', '2016.21',
       '2016.22', '2016.23', '2016.24', '2016.25'],
      dtype='object', length=132)

In [12]:
disease.iloc[0,:]

시도별(1)               시도별(1)
성별(1)                 성별(1)
2012                   진단여부
2012.1                 진단여부
2012.2                 진단여부
                 ...
2016.21       가족력여부(부모형제자매)
2016.22    B형 간염 바이러스 보유 여부
2016.23    B형 간염 바이러스 보유 여부
2016.24    B형 간염 바이러스 보유 여부
2016.25    B형 간염 바이러스 보유 여부
Name: 0, Length: 132, dtype: object

In [20]:
disease2 = disease.loc[((disease['성별(1)'] == '남자') | (disease['성별(1)'] == '여자')) & (disease['시도별(1)']!="계"),:]

disease_sex = disease2.iloc[:,0:2]
disease2012 = disease2.loc[:,disease2.columns.str.startswith("2012.")]
disease2013 = disease2.loc[:,disease2.columns.str.startswith("2013.")]
disease2014 = disease2.loc[:,disease2.columns.str.startswith("2014.")]
disease2015 = disease2.loc[:,disease2.columns.str.startswith("2015.")]
disease2016 = disease2.loc[:,disease2.columns.str.startswith("2016.")]

In [23]:
disease_sex.columns = ['area', 'sex']
disease_sex.head(10)

   area sex
6    서울  남자
7    서울  여자
9    부산  남자
10   부산  여자
12   대구  남자
13   대구  여자
15   인천  남자
16   인천  여자
18   광주  남자
19   광주  여자

In [37]:
disease2016.columns

Index(['2016.1', '2016.2', '2016.3', '2016.4', '2016.5', '2016.6', '2016.7',
       '2016.8', '2016.9', '2016.10', '2016.11', '2016.12', '2016.13',
       '2016.14', '2016.15', '2016.16', '2016.17', '2016.18', '2016.19',
       '2016.20', '2016.21', '2016.22', '2016.23', '2016.24', '2016.25'],
      dtype='object')

In [39]:
disease2012['year'] = 2012
disease2013['year'] = 2013
disease2014['year'] = 2014
disease2015['year'] = 2015
disease2016['year'] = 2016


disease2012_1 = disease2012[['year','2012.1', '2012.2', '2012.3', '2012.5','2012.9', '2012.10', '2012.11','2012.13','2012.17', '2012.18', '2012.19']]
disease2013_1 = disease2013[['year','2013.1', '2013.2', '2013.3', '2013.5','2013.9', '2013.10', '2013.11','2013.13','2013.17', '2013.18', '2013.19']]
disease2014_1 = disease2014[['year','2014.1', '2014.2', '2014.3', '2014.5','2014.9', '2014.10', '2014.11','2014.13','2014.17', '2014.18', '2014.19']]
disease2015_1 = disease2015[['year','2015.1', '2015.2', '2015.3', '2015.5','2015.9', '2015.10', '2015.11','2015.13','2015.17', '2015.18', '2015.19']]
disease2016_1 = disease2016[['year','2016.1', '2016.2', '2016.3', '2016.5','2016.9', '2016.10', '2016.11','2016.13','2016.17', '2016.18', '2016.19']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [41]:
col = ['year','뇌졸중_진단','심장병_진단','고혈압_진단','이상지질혈증_진단',"뇌졸중_약물치료",'심장병_약물치료','고혈압_약물치료','이상지질혈증_약물치료','뇌졸중_가족력','심장병_가족력','고혈압_가족력']

disease2012_1.columns = col
disease2013_1.columns = col
disease2014_1.columns = col
disease2015_1.columns = col
disease2016_1.columns = col

In [45]:
disease2012_1.head()

,year,뇌졸중_진단,심장병_진단,고혈압_진단,이상지질혈증_진단,뇌졸중_약물치료,심장병_약물치료,고혈압_약물치료,이상지질혈증_약물치료,뇌졸중_가족력,심장병_가족력,고혈압_가족력
6,2012,8684,21890,190481,32579,7031,19155,176360,24747,71102,42143,138416
7,2012,6296,15804,166721,47090,5028,13510,158994,41062,71245,46530,169752
9,2012,3453,9924,73022,9138,2911,9041,68459,6787,25782,14886,41348
10,2012,2333,9005,65181,13507,1920,8261,62971,11544,23549,14766,50259
12,2012,2659,5338,47126,6986,2265,4799,43635,4949,19172,9982,32811

In [49]:
df1 = pd.concat([disease_sex,disease2012_1], axis=1)
df2 = pd.concat([disease_sex,disease2013_1], axis=1)
df3 = pd.concat([disease_sex,disease2014_1], axis=1)
df4 = pd.concat([disease_sex,disease2015_1], axis=1)
df5 = pd.concat([disease_sex,disease2016_1], axis=1)

df_list = [df1, df2, df3, df4, df5]
final_data = pd.concat(df_list,axis=0,ignore_index=True)
final_data.head()

,area,sex,year,뇌졸중_진단,심장병_진단,고혈압_진단,이상지질혈증_진단,뇌졸중_약물치료,심장병_약물치료,고혈압_약물치료,이상지질혈증_약물치료,뇌졸중_가족력,심장병_가족력,고혈압_가족력
0,서울,남자,2012,8684,21890,190481,32579,7031,19155,176360,24747,71102,42143,138416
1,서울,여자,2012,6296,15804,166721,47090,5028,13510,158994,41062,71245,46530,169752
2,부산,남자,2012,3453,9924,73022,9138,2911,9041,68459,6787,25782,14886,41348
3,부산,여자,2012,2333,9005,65181,13507,1920,8261,62971,11544,23549,14766,50259
4,대구,남자,2012,2659,5338,47126,6986,2265,4799,43635,4949,19172,9982,32811

In [50]:
final_data.loc[final_data['sex']=="남자", 'sex'] = 1
final_data.loc[final_data['sex']=="여자", 'sex'] = 2
final_data.head()

,area,sex,year,뇌졸중_진단,심장병_진단,고혈압_진단,이상지질혈증_진단,뇌졸중_약물치료,심장병_약물치료,고혈압_약물치료,이상지질혈증_약물치료,뇌졸중_가족력,심장병_가족력,고혈압_가족력
0,서울,1,2012,8684,21890,190481,32579,7031,19155,176360,24747,71102,42143,138416
1,서울,2,2012,6296,15804,166721,47090,5028,13510,158994,41062,71245,46530,169752
2,부산,1,2012,3453,9924,73022,9138,2911,9041,68459,6787,25782,14886,41348
3,부산,2,2012,2333,9005,65181,13507,1920,8261,62971,11544,23549,14766,50259
4,대구,1,2012,2659,5338,47126,6986,2265,4799,43635,4949,19172,9982,32811

In [51]:
final_data.to_csv('/content/drive/MyDrive/날씨 빅콘/data/파생변수/완성된 파생변수들/질환력.csv', index=False)