In [1]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [3]:
# airkorea data
data = pd.read_csv("/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/대기오염/air_mice2.csv")

# 가중치 data
weight = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/인구수/weight_air.csv')

In [4]:
data.shape

(349134, 9)

In [5]:
data.head()

   지역       측정일  시군구       SO2        CO        O3       NO2       PM10  year
0  강원  20110101  강릉시  0.006083  0.458333  0.026208  0.012250  25.500000  2011
1  강원  20110101  고성군  0.002596  0.316667  0.038167  0.003554  25.666667  2011
2  강원  20110101  동해시  0.003708  0.433333  0.029708  0.012792  17.166667  2011
3  강원  20110101  삼척시  0.004708  0.504167  0.030375  0.010083  24.750000  2011
4  강원  20110101  양구군  0.002021  0.595833  0.024042  0.005071  32.083333  2011

In [ ]:
# 가중치 곱하기 전 제외할 변수 

#var = ['stn_id', 'hr6_max_rn_dt', 'mix_ws','mix_wd','max_ws_wd','max_ins_ws_wd', 'hr24_sum_rws', 'max_wd', 'max_ws_min', 'max_ws_hour', 'max_ins_ws_hour', 'max_ins_ws_min'   ]

In [ ]:
# 그룹핑 기준 변수
# where, tma 
# pd.set_option('display.max_rows',None)

In [ ]:
#data2 = data.drop(var, axis=1).reset_index(drop=True)

In [6]:
weight.head()

   지역  시군구  weight11  weight12  weight13  weight14  weight15  weight16
0  강원  강릉시  0.194972  0.194620  0.193029  0.191876  0.189975  0.188533
1  강원  고성군  0.026935  0.026925  0.027064  0.026912  0.026616  0.026549
2  강원  동해시  0.085853  0.083926  0.084709  0.084076  0.083136  0.082254
3  강원  삼척시  0.064801  0.064768  0.065015  0.064295  0.062722  0.061361
4  강원  양구군  0.019970  0.020378  0.021006  0.021239  0.021329  0.021168

In [8]:
dat2011 = data[data['year']==2011]
dat2011_2 = pd.merge(dat2011, weight[['지역','시군구', 'weight11']], how='left', on=['지역','시군구'])

dat2012 = data[data['year']==2012]
dat2012_2 = pd.merge(dat2012, weight[['지역','시군구', 'weight12']], how='left', on=['지역','시군구'])

dat2013 = data[data['year']==2013]
dat2013_2 = pd.merge(dat2013, weight[['지역','시군구', 'weight13']], how='left', on=['지역','시군구'])

dat2014 = data[data['year']==2014]
dat2014_2 = pd.merge(dat2014, weight[['지역','시군구', 'weight14']], how='left', on=['지역','시군구'])

dat2015 = data[data['year']==2015]
dat2015_2 = pd.merge(dat2015, weight[['지역','시군구', 'weight15']], how='left', on=['지역','시군구'])

dat2016 = data[data['year']==2016]
dat2016_2 = pd.merge(dat2016, weight[['지역','시군구', 'weight16']], how='left', on=['지역','시군구'])

In [9]:
data.shape

(349134, 9)

In [10]:
dat2011_2

,지역,측정일,시군구,SO2,CO,O3,NO2,PM10,year,weight11
0,강원,20110101,강릉시,0.006083,0.458333,0.026208,0.012250,25.500000,2011,0.194972
1,강원,20110101,고성군,0.002596,0.316667,0.038167,0.003554,25.666667,2011,0.026935
2,강원,20110101,동해시,0.003708,0.433333,0.029708,0.012792,17.166667,2011,0.085853
3,강원,20110101,삼척시,0.004708,0.504167,0.030375,0.010083,24.750000,2011,0.064801
4,강원,20110101,양구군,0.002021,0.595833,0.024042,0.005071,32.083333,2011,0.019970
...,...,...,...,...,...,...,...,...,...,...
56571,서울,20111231,용산구,0.006208,1.237500,0.002792,0.060208,106.000000,2011,0.024050
56572,서울,20111231,은평구,0.008667,1.500000,0.003417,0.051917,105.291667,2011,0.048161
56573,서울,20111231,종로구,0.010167,1.222917,0.002750,0.061542,105.770833,2011,0.016428
56574,서울,20111231,중구,0.008250,1.237500,0.003236,0.066264,108.555556,2011,0.012995
56575,서울,20111231,중랑구,0.007833,1.320833,0.002417,0.063500,115.916667,2011,0.041338

In [12]:
for i in range(3,8):
  dat2011_2.iloc[:,i] = dat2011_2.iloc[:,i] * dat2011_2.iloc[:,9]
dat2011_3 = dat2011_2.groupby(['지역','측정일']).sum().reset_index().drop(['year', 'weight11'], axis=1)

for i in range(3,8):
  dat2012_2.iloc[:,i] = dat2012_2.iloc[:,i] * dat2012_2.iloc[:,9]
dat2012_3 = dat2012_2.groupby(['지역','측정일']).sum().reset_index().drop(['year',  'weight12'], axis=1)

for i in range(3,8):
  dat2013_2.iloc[:,i] = dat2013_2.iloc[:,i] * dat2013_2.iloc[:,9]
dat2013_3 = dat2013_2.groupby(['지역','측정일']).sum().reset_index().drop(['year', 'weight13'], axis=1)

for i in range(3,8):
  dat2014_2.iloc[:,i] = dat2014_2.iloc[:,i] * dat2014_2.iloc[:,9]
dat2014_3 = dat2014_2.groupby(['지역','측정일']).sum().reset_index().drop(['year', 'weight14'], axis=1)

for i in range(3,8):
  dat2015_2.iloc[:,i] = dat2015_2.iloc[:,i] * dat2015_2.iloc[:,9]
dat2015_3 = dat2015_2.groupby(['지역','측정일']).sum().reset_index().drop(['year', 'weight15'], axis=1)

for i in range(3,8):
  dat2016_2.iloc[:,i] = dat2016_2.iloc[:,i] * dat2016_2.iloc[:,9]
dat2016_3 = dat2016_2.groupby(['지역','측정일']).sum().reset_index().drop(['year', 'weight16'], axis=1)

In [13]:
df = pd.concat([dat2011_3, dat2012_3], ignore_index=True)
df = pd.concat([df, dat2013_3], ignore_index=True)
df = pd.concat([df, dat2014_3], ignore_index=True)
df = pd.concat([df, dat2015_3], ignore_index=True)
df = pd.concat([df, dat2016_3], ignore_index=True)

In [ ]:
df.columns

Index(['where', 'tma', 'dd_mes', 'sum_dpth_fhsc', 'dd_mefs', 'ssrate',
       'ss_dur', 'sum_ss_hr', 'min_tg', 'avg_pa', 'max_pa', 'min_pa', 'avg_pv',
       'max_pv', 'min_pv', 'avg_rhm', 'min_rhm', 'sum_rn', 'sum_rn_dur',
       'mi10_max_rn', 'hr1_max_rn', 'hr6_max_rn', 'n9_9_rn', 'avg_ta',
       'max_ta', 'min_ta', 'avg_ws', 'max_ws', 'max_ins_ws'],
      dtype='object')

In [ ]:
#pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)

In [15]:
df.head(100)

    지역       측정일       SO2        CO        O3       NO2       PM10
0   강원  20110101  0.001384  0.204991  0.002894  0.005240  10.051255
1   강원  20110102  0.001390  0.246259  0.002276  0.006155  11.536032
2   강원  20110103  0.001326  0.266888  0.002125  0.007304  12.720615
3   강원  20110104  0.001285  0.241183  0.002283  0.007152  12.993877
4   강원  20110105  0.001331  0.127681  0.004252  0.004382   9.728090
..  ..       ...       ...       ...       ...       ...        ...
95  강원  20110406  0.000969  0.118652  0.007058  0.005179  14.010343
96  강원  20110407  0.000596  0.096384  0.005171  0.004052   5.553313
97  강원  20110408  0.000573  0.098893  0.006142  0.003443  10.471589
98  강원  20110409  0.001017  0.112182  0.007255  0.003974  16.518624
99  강원  20110410  0.001305  0.133734  0.009508  0.003548  25.162428

[100 rows x 7 columns]

In [16]:
df.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/air_가중치완료.csv', index=False)