## 라이브러리 불러오기

In [ ]:
import os

import pandas as pd
import numpy as np

import h5py
import pickle

In [ ]:
# 구글 드라이브 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = "/content/drive/MyDrive/2022-1 Spring/[데마] 분석 프로젝트/data"
os.chdir(path)

## 데이터 불러오기

In [ ]:
#AWS_info = pd.read_csv(path + '/area/방재기상관측(AWS)지점.csv') 
ASOS_info = pd.read_csv(path + '/area/종관기상관측(ASOS)지점.csv') 

codes_info = pd.read_csv(path + '/행정구역/법정동코드 전체자료.txt', sep = "\t", engine='python', encoding = "cp949",usecols=range(2))

In [ ]:
AWS_info.shape, ASOS_info.shape

((692, 7), (94, 7))

In [ ]:
#AWS_info['법정동코드'] = AWS_info['법정동코드'].astype(str)
#AWS_info['법정동코드_대분류'] =  (AWS_info['법정동코드'].str[:2] + '00000000').astype(int)

In [ ]:
AWS_info.head()

   지점번호  경도(degree)  위도(degree)  노장해발고도(m) 지점명(한글)    예보구역코드       법정동코드
0    90   128.56472    38.25085      18.06      속초  11D20401  4282033035
1    92   128.66670    38.06670      75.40   양양(공)  11D20400  4283032021
2    95   127.30420    38.14788     153.70      철원  11D10101  4278025624
3    96   131.86983    37.23952      96.15      독도  11E00102  4794025027
4    98   127.06069    37.90186     109.06     동두천  11B20401  4125010300

In [ ]:
AWS_info2 = pd.merge(AWS_info, codes_info, how='left', on='법정동코드') 
AWS_info2['법정동명'] = AWS_info2['법정동명'].str.split(' ').str[0] 
AWS_info2

,지점번호,경도(degree),위도(degree),노장해발고도(m),지점명(한글),예보구역코드,법정동코드,법정동명
0,90,128.56472,38.25085,18.06,속초,11D20401,4282033035,강원도
1,92,128.66670,38.06670,75.40,양양(공),11D20400,4283032021,강원도
2,95,127.30420,38.14788,153.70,철원,11D10101,4278025624,강원도
3,96,131.86983,37.23952,96.15,독도,11E00102,4794025027,경상북도
4,98,127.06069,37.90186,109.06,동두천,11B20401,4125010300,경기도
...,...,...,...,...,...,...,...,...
687,963,129.47500,35.56670,16.00,이덕서,11H20100,3117000000,울산광역시
688,966,126.38560,37.11610,38.00,풍도,11B20200,4127013300,경기도
689,967,126.61280,37.11890,70.00,도리도,11B20200,4159035032,경기도
690,968,129.04500,35.08100,78.58,남항,11H20200,2620011400,부산광역시
691,969,129.12700,35.09100,37.72,북항,11H20200,2629010700,부산광역시

In [ ]:
# 법정동코드 2글자로 전처리 
AWS_info2 = AWS_info2.replace({'법정동명': {'충청북도': '충북', '충청남도': '충남', '전라북도': '전북', 
                            '전라남도': '전남', '경상북도': '경북', '경상남도': '경남'}}) 
AWS_info2['법정동명'] = AWS_info2['법정동명'].astype(str).str[:2]

In [ ]:
AWS_info_final = AWS_info2[['지점번호', '법정동명']] 
AWS_info_final

     지점번호 법정동명
0      90   강원
1      92   강원
2      95   강원
3      96   경북
4      98   경기
..    ...  ...
687   963   울산
688   966   경기
689   967   경기
690   968   부산
691   969   부산

[692 rows x 2 columns]