In [ ]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
# 관측 full data
data = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/full_전처리완료3.csv')

# 인구수 data
pop = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/인구수/총인구수_full.csv')

In [ ]:
pd.set_option('display.max_rows', None)
pop.head(20)

,지역,시군구,pop11,pop12,pop13,pop14,pop15,pop16
0,서울,서울,10249679.0,10195318.0,10143645.0,10103233.0,10022181.0,9930616.0
1,부산,부산,3550963.0,3538484.0,3527635.0,3519401.0,3513777.0,3498529.0
2,대구,대구,2507271.0,2505644.0,2501588.0,2493264.0,2487829.0,2484557.0
3,인천,인천,2801274.0,2843981.0,2879782.0,2902608.0,2925815.0,2943069.0
4,광주,광주,1463464.0,1469216.0,1472910.0,1475884.0,1472199.0,1469214.0
5,대전,대전,1515603.0,1524583.0,1532811.0,1531809.0,1518775.0,1514370.0
6,울산,울산,1135494.0,1147256.0,1156480.0,1166377.0,1173534.0,1172304.0
7,경기,수원,1088489.0,1120258.0,1148157.0,1174228.0,1184624.0,1194041.0
8,경기,성남,979323.0,978615.0,979534.0,974608.0,971424.0,974580.0
9,경기,의정부,430400.0,429147.0,430976.0,431112.0,433937.0,438457.0
10,경기,안양,615642.0,611412.0,607877.0,600809.0,597789.0,597414.0
11,경기,부천,872452.0,869944.0,863720.0,855586.0,848987.0,851380.0
12,경기,광명,355226.0,355560.0,353100.0,348560.0,344978.0,339484.0
13,경기,평택,426886.0,434305.0,442034.0,449555.0,460532.0,470832.0
14,경기,동두천,96253.0,97175.0,97557.0,97595.0,97974.0,98277.0
15,경기,안산,715586.0,715108.0,713666.0,707876.0,697885.0,689859.0
16,경기,고양,961239.0,969916.0,990571.0,1006154.0,1027546.0,1039684.0
17,경기,과천,71955.0,71068.0,70578.0,70156.0,68946.0,63778.0
18,경기,구리,194881.0,192341.0,189680.0,186820.0,186721.0,193763.0
19,경기,남양주,578485.0,599539.0,618305.0,636256.0,653454.0,662154.0

In [ ]:
data[data['where']=='세종']

Empty DataFrame
Columns: [stn_id, tma, dd_mes, sum_dpth_fhsc, dd_mefs, ssrate, ss_dur, sum_ss_hr, min_tg, avg_pa, max_pa, min_pa, avg_pv, max_pv, min_pv, avg_rhm, min_rhm, sum_rn, sum_rn_dur, mi10_max_rn, hr1_max_rn, hr6_max_rn, hr6_max_rn_dt, n9_9_rn, avg_ta, max_ta, min_ta, avg_ws, mix_ws, mix_wd, max_ws, max_ws_wd, max_ins_ws, max_ins_ws_wd, hr24_sum_rws, max_wd, stn, max_ws_min, max_ws_hour, max_ins_ws_min, max_ins_ws_hour, year, month, days, where]
Index: []

[0 rows x 45 columns]

In [ ]:
df1 = data[data['year']==2011]
df2 = data[data['year']==2014]

df1 = df1[["where","stn"]]
df1.drop_duplicates(["where","stn"], keep = 'first', inplace=True)
df1= df1.reset_index(drop=True)

df2 = df2[["where","stn"]]
df2.drop_duplicates(["where","stn"], keep = 'first', inplace=True)
df2= df2.reset_index(drop=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
weight1 = pd.merge(df1, pop[["지역","시군구","pop11","pop12","pop13"]], how = "left", left_on=["where","stn"], right_on=["지역","시군구"])
var1 = weight1.loc[weight1['pop11'].isnull(), 'stn'].unique()

for name in var1:
  var2 = name[:2]
  con = weight1['stn']== name
  weight1.loc[con, "pop11"] = pop.loc[pop['시군구']==var2, "pop11"].values[0]
  weight1.loc[con, "pop12"] = pop.loc[pop['시군구']==var2, "pop12"].values[0]
  weight1.loc[con, "pop13"] = pop.loc[pop['시군구']==var2, "pop13"].values[0]



weight2 = pd.merge(df2, pop[["지역","시군구","pop14","pop15","pop16"]], how = "left", left_on=["where","stn"], right_on=["지역","시군구"])
var3 = weight2.loc[weight2['pop14'].isnull(), 'stn'].unique()

for name in var3:
  var4 = name[:2]
  con = weight2['stn']== name
  weight2.loc[con, "pop14"] = pop.loc[pop['시군구']==var4, "pop14"].values[0]
  weight2.loc[con, "pop15"] = pop.loc[pop['시군구']==var4, "pop15"].values[0]
  weight2.loc[con, "pop16"] = pop.loc[pop['시군구']==var4, "pop16"].values[0]

In [ ]:
weight1.isnull().sum()

where     0
stn       0
지역       14
시군구      14
pop11     0
pop12     0
pop13     0
dtype: int64

In [ ]:
weight2.isnull().sum()

where     0
stn       0
지역       15
시군구      15
pop14     0
pop15     0
pop16     0
dtype: int64

In [ ]:
weight1 = weight1.drop(["지역","시군구"], axis=1)
weight2 = weight2.drop(["지역","시군구"], axis=1)
weight = pd.merge(weight1, weight2, how="outer", on=["where","stn"])

In [ ]:
weight

,where,stn,pop11,pop12,pop13,pop14,pop15,pop16
0,강원,속초,83745.0,83579.0,83109.0,82432.0,81992.0,81793.0
1,강원,철원,48084.0,47968.0,47473.0,47590.0,48799.0,48013.0
2,강원,춘천,272805.0,273364.0,274455.0,275791.0,277997.0,280707.0
3,강원,강릉,217571.0,217741.0,216806.0,215807.0,214560.0,213846.0
4,강원,동해,95804.0,93897.0,95143.0,94562.0,93895.0,93297.0
5,강원,원주,320536.0,323885.0,324837.0,327292.0,332995.0,337979.0
6,강원,영월,40199.0,40155.0,40150.0,40191.0,40216.0,40073.0
7,강원,인제,31970.0,32456.0,32517.0,32475.0,33255.0,32720.0
8,강원,홍천,69899.0,69727.0,70638.0,70451.0,70336.0,70076.0
9,강원,태백,50176.0,49493.0,48794.0,48258.0,47501.0,47070.0
10,강원,정선군,40181.0,39915.0,39985.0,39425.0,39197.0,38718.0
11,경기,동두천,96253.0,97175.0,97557.0,97595.0,97974.0,98277.0
12,경기,파주,378790.0,394201.0,401718.0,411348.0,423321.0,430781.0
13,경기,수원,1088489.0,1120258.0,1148157.0,1174228.0,1184624.0,1194041.0
14,경기,양평,99430.0,102193.0,103620.0,105379.0,108316.0,111367.0
15,경기,이천,204566.0,204917.0,205479.0,205014.0,204935.0,210359.0
16,경남,창원,1091881.0,1091471.0,1083731.0,1075168.0,1070064.0,1063907.0
17,경남,통영,140195.0,139347.0,139719.0,139439.0,139168.0,138160.0
18,경남,진주,335502.0,337314.0,337071.0,340241.0,344426.0,346739.0
19,경남,김해시,507062.0,513260.0,522049.0,527240.0,528865.0,529422.0
20,경남,양산시,266403.0,270460.0,279565.0,292376.0,301291.0,317037.0
21,경남,의령군,30045.0,30329.0,29417.0,29209.0,28544.0,28111.0
22,경남,함양군,41081.0,40714.0,40692.0,40584.0,40339.0,40241.0
23,경남,거창,63146.0,63103.0,63177.0,63137.0,63232.0,63308.0
24,경남,합천,50608.0,50279.0,50290.0,50457.0,49145.0,48026.0
25,경남,밀양,109329.0,108755.0,108342.0,107765.0,107896.0,108354.0
26,경남,산청,35651.0,35691.0,35935.0,35849.0,36071.0,36098.0
27,경남,거제,232787.0,236944.0,242077.0,248287.0,255828.0,257183.0
28,경남,남해,50242.0,48223.0,47244.0,46638.0,45865.0,45129.0
29,경북,울릉도,10742.0,10673.0,10524.0,10264.0,10153.0,10001.0
30,경북,울진,52045.0,51844.0,51953.0,52104.0,51885.0,51738.0
31,경북,안동,168157.0,168302.0,168461.0,168697.0,169221.0,168798.0
32,경북,상주,104685.0,104182.0,103346.0,102892.0,102374.0,101799.0
33,경북,포항,517088.0,518913.0,519467.0,519368.0,519584.0,516775.0
34,경북,봉화,34192.0,33934.0,33894.0,34023.0,33808.0,33539.0
35,경북,영주,114148.0,113547.0,112625.0,110780.0,109735.0,109247.0
36,경북,문경,76727.0,75899.0,75664.0,75911.0,75784.0,74702.0
37,경북,청송군,26569.0,26481.0,26470.0,26453.0,26384.0,26301.0
38,경북,영덕,40794.0,40257.0,40142.0,39586.0,39191.0,39052.0
39,경북,의성,57744.0,57043.0,56064.0,55212.0,54477.0,54014.0
40,경북,구미,413446.0,416949.0,419428.0,420320.0,419915.0,419891.0
41,경북,영천,104182.0,101798.0,100778.0,100689.0,100648.0,100521.0
42,경북,경주시,265488.0,264091.0,263283.0,261535.0,259773.0,259452.0
43,광주,광주,1463464.0,1469216.0,1472910.0,1475884.0,1472199.0,1469214.0
44,대구,대구,2507271.0,2505644.0,2501588.0,2493264.0,2487829.0,2484557.0
45,대전,대전,1515603.0,1524583.0,1532811.0,1531809.0,1518775.0,1514370.0
46,부산,부산,3550963.0,3538484.0,3527635.0,3519401.0,3513777.0,3498529.0
47,서울,서울,10249679.0,10195318.0,10143645.0,10103233.0,10022181.0,9930616.0
48,울산,울산,1135494.0,1147256.0,1156480.0,1166377.0,1173534.0,1172304.0
49,인천,인천,2801274.0,2843981.0,2879782.0,2902608.0,2925815.0,2943069.0
50,전남,목포,244871.0,245073.0,240936.0,239109.0,238382.0,237739.0
51,전남,여수,292750.0,292217.0,291366.0,290900.0,290168.0,288988.0
52,전남,완도,54037.0,53871.0,53619.0,53174.0,53014.0,52668.0
53,전남,영광군,56863.0,57224.0,57617.0,56833.0,56267.0,55618.0
54,전남,보성군,47894.0,47050.0,46385.0,45882.0,45349.0,44469.0
55,전남,강진군,41599.0,40241.0,40079.0,39861.0,38758.0,37753.0
56,전남,장흥,42552.0,42672.0,43004.0,43190.0,43513.0,40669.0
57,전남,해남,78346.0,78150.0,77684.0,76981.0,76194.0,75121.0
58,전남,고흥,72607.0,71560.0,70631.0,69641.0,68601.0,67656.0
59,전남,광양시,150725.0,150837.0,151621.0,152097.0,153587.0,155580.0
60,전남,순천,272201.0,273798.0,275668.0,277188.0,278765.0,278548.0
61,전북,군산,275659.0,278341.0,278319.0,278098.0,278398.0,277551.0
62,전북,전주,645894.0,648863.0,650082.0,652877.0,652282.0,651744.0
63,전북,고창,60065.0,60440.0,60522.0,60090.0,60046.0,60597.0
64,전북,부안,59080.0,58869.0,59164.0,57534.0,56848.0,57005.0
65,전북,임실,30789.0,29956.0,29739.0,29966.0,30271.0,30197.0
66,전북,정읍,120466.0,119392.0,118328.0,117183.0,115977.0,115173.0
67,전북,남원,87455.0,87000.0,86460.0,85643.0,84856.0,84188.0
68,전북,장수,23215.0,23191.0,23243.0,23335.0,23277.0,23628.0
69,전북,고창군,60065.0,60440.0,60522.0,60090.0,60046.0,60597.0
70,전북,순창군,29497.0,30055.0,30272.0,30368.0,30248.0,29949.0
71,제주,제주,422790.0,429656.0,438165.0,448834.0,459876.0,470665.0
72,제주,서귀포,153366.0,154057.0,155641.0,158512.0,164519.0,170932.0
73,충남,서산,161489.0,163315.0,165837.0,167611.0,170099.0,170788.0
74,충남,보령,106421.0,105559.0,104938.0,104321.0,104754.0,103873.0
75,충남,부여,74004.0,73259.0,72547.0,71754.0,71143.0,70187.0
76,충남,금산,56030.0,55715.0,55441.0,55166.0,54879.0,54612.0
77,충북,충주,208433.0,208447.0,208115.0,208527.0,207913.0,208350.0
78,충북,청주,661946.0,666852.0,672904.0,831521.0,831912.0,835197.0
79,충북,제천,137689.0,137521.0,137204.0,136805.0,136138.0,136517.0
80,충북,보은,34717.0,34438.0,34318.0,34240.0,34296.0,34221.0
81,충남,천안,571377.0,581988.0,591089.0,598346.0,605776.0,617955.0
82,전남,진도군,NaN,NaN,NaN,32746.0,32476.0,32078.0

In [ ]:
weight1[weight1['stn']=="진도군"]

Empty DataFrame
Columns: [where, stn, pop11, pop12, pop13]
Index: []

In [ ]:
pop1 = weight.groupby('where').sum().reset_index()

In [ ]:
pop1

,where,pop11,pop12,pop13,pop14,pop15,pop16
0,강원,1270970.0,1272180.0,1273907.0,1274274.0,1280743.0,1284292.0
1,경기,1867528.0,1918744.0,1956531.0,1993564.0,2019170.0,2044825.0
2,경남,2953932.0,2965890.0,2979309.0,2996390.0,3010734.0,3021715.0
3,경북,1986007.0,1983913.0,1982099.0,1977834.0,1972932.0,1965830.0
4,광주,1463464.0,1469216.0,1472910.0,1475884.0,1472199.0,1469214.0
5,대구,2507271.0,2505644.0,2501588.0,2493264.0,2487829.0,2484557.0
6,대전,1515603.0,1524583.0,1532811.0,1531809.0,1518775.0,1514370.0
7,부산,3550963.0,3538484.0,3527635.0,3519401.0,3513777.0,3498529.0
8,서울,10249679.0,10195318.0,10143645.0,10103233.0,10022181.0,9930616.0
9,울산,1135494.0,1147256.0,1156480.0,1166377.0,1173534.0,1172304.0
10,인천,2801274.0,2843981.0,2879782.0,2902608.0,2925815.0,2943069.0
11,전남,1354445.0,1352693.0,1348610.0,1377602.0,1375074.0,1366887.0
12,전북,1392185.0,1396547.0,1396651.0,1395184.0,1392249.0,1390629.0
13,제주,576156.0,583713.0,593806.0,607346.0,624395.0,641597.0
14,충남,969321.0,979836.0,989852.0,997198.0,1006651.0,1017415.0
15,충북,1042785.0,1047258.0,1052541.0,1211093.0,1210259.0,1214285.0

In [ ]:
weight.shape

(83, 8)

In [ ]:
s1 = []
s2 = []
s3 = []
s4 = []
s5 = []
s6 = []

for i in range(83):
  area = weight['where'][i]
  s1.append(pop1.loc[pop1['where']==area, "pop11"].values[0])
  s2.append(pop1.loc[pop1['where']==area, "pop12"].values[0])
  s3.append(pop1.loc[pop1['where']==area, "pop13"].values[0])
  s4.append(pop1.loc[pop1['where']==area, "pop14"].values[0])
  s5.append(pop1.loc[pop1['where']==area, "pop15"].values[0])
  s6.append(pop1.loc[pop1['where']==area, "pop16"].values[0])

weight['pop_sum11'] = s1
weight['pop_sum12'] = s2
weight['pop_sum13'] = s3
weight['pop_sum14'] = s4
weight['pop_sum15'] = s5
weight['pop_sum16'] = s6

weight['weight11'] = weight['pop11']/weight['pop_sum11']
weight['weight12'] = weight['pop12']/weight['pop_sum12']
weight['weight13'] = weight['pop13']/weight['pop_sum13']
weight['weight14'] = weight['pop14']/weight['pop_sum14']
weight['weight15'] = weight['pop15']/weight['pop_sum15']
weight['weight16'] = weight['pop16']/weight['pop_sum16']

In [ ]:
weight_full = weight[['where','stn','weight11', 'weight12', 'weight13', 'weight14', 'weight15','weight16']]

In [ ]:
weight_full

   where  stn  weight11  weight12  weight13  weight14  weight15  weight16
0     강원   속초  0.065891  0.065697  0.065239  0.064689  0.064019  0.063687
1     강원   철원  0.037833  0.037705  0.037266  0.037347  0.038102  0.037385
2     강원   춘천  0.214643  0.214878  0.215444  0.216430  0.217059  0.218569
3     강원   강릉  0.171185  0.171156  0.170190  0.169357  0.167528  0.166509
4     강원   동해  0.075379  0.073808  0.074686  0.074209  0.073313  0.072645
5     강원   원주  0.252198  0.254591  0.254993  0.256846  0.260001  0.263164
6     강원   영월  0.031629  0.031564  0.031517  0.031540  0.031401  0.031202
7     강원   인제  0.025154  0.025512  0.025525  0.025485  0.025965  0.025477
8     강원   홍천  0.054997  0.054809  0.055450  0.055287  0.054918  0.054564
9     강원   태백  0.039479  0.038904  0.038303  0.037871  0.037089  0.036651
10    강원  정선군  0.031614  0.031375  0.031388  0.030939  0.030605  0.030147
11    경기  동두천  0.051540  0.050645  0.049862  0.048955  0.048522  0.048061
12    경기   파주  0.202830  0.205447  0.205322  0.206338  0.209651  0.210669
13    경기   수원  0.582850  0.583850  0.586833  0.589009  0.586689  0.583933
14    경기   양평  0.053242  0.053260  0.052961  0.052860  0.053644  0.054463
15    경기   이천  0.109538  0.106797  0.105022  0.102838  0.101495  0.102874
16    경남   창원  0.369636  0.368008  0.363752  0.358821  0.355416  0.352087
17    경남   통영  0.047460  0.046983  0.046896  0.046536  0.046224  0.045722
18    경남   진주  0.113578  0.113731  0.113137  0.113550  0.114399  0.114749
19    경남  김해시  0.171657  0.173054  0.175225  0.175958  0.175660  0.175206
20    경남  양산시  0.090186  0.091190  0.093836  0.097576  0.100072  0.104920
21    경남  의령군  0.010171  0.010226  0.009874  0.009748  0.009481  0.009303
22    경남  함양군  0.013907  0.013727  0.013658  0.013544  0.013398  0.013317
23    경남   거창  0.021377  0.021276  0.021205  0.021071  0.021002  0.020951
24    경남   합천  0.017132  0.016952  0.016880  0.016839  0.016323  0.015894
25    경남   밀양  0.037011  0.036669  0.036365  0.035965  0.035837  0.035858
26    경남   산청  0.012069  0.012034  0.012062  0.011964  0.011981  0.011946
27    경남   거제  0.078806  0.079890  0.081253  0.082862  0.084972  0.085112
28    경남   남해  0.017009  0.016259  0.015857  0.015565  0.015234  0.014935
29    경북  울릉도  0.005409  0.005380  0.005310  0.005190  0.005146  0.005087
30    경북   울진  0.026206  0.026132  0.026211  0.026344  0.026298  0.026319
31    경북   안동  0.084671  0.084833  0.084991  0.085294  0.085771  0.085866
32    경북   상주  0.052711  0.052513  0.052140  0.052023  0.051889  0.051784
33    경북   포항  0.260366  0.261560  0.262079  0.262594  0.263356  0.262879
34    경북   봉화  0.017216  0.017105  0.017100  0.017202  0.017136  0.017061
35    경북   영주  0.057476  0.057234  0.056821  0.056011  0.055620  0.055573
36    경북   문경  0.038634  0.038257  0.038174  0.038381  0.038412  0.038000
37    경북  청송군  0.013378  0.013348  0.013355  0.013375  0.013373  0.013379
38    경북   영덕  0.020541  0.020292  0.020252  0.020015  0.019864  0.019865
39    경북   의성  0.029075  0.028753  0.028285  0.027915  0.027612  0.027476
40    경북   구미  0.208180  0.210165  0.211608  0.212515  0.212838  0.213595
41    경북   영천  0.052458  0.051312  0.050844  0.050909  0.051014  0.051134
42    경북  경주시  0.133679  0.133116  0.132830  0.132233  0.131669  0.131981
43    광주   광주  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
44    대구   대구  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
45    대전   대전  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
46    부산   부산  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
47    서울   서울  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
48    울산   울산  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
49    인천   인천  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
50    전남   목포  0.180791  0.181174  0.178655  0.173569  0.173359  0.173927
51    전남   여수  0.216140  0.216026  0.216049  0.211164  0.211020  0.211421
52    전남   완도  0.039896  0.039825  0.039759  0.038599  0.038554  0.038531
53    전남  영광군  0.041983  0.042304  0.042723  0.041255  0.040919  0.040690
54    전남  보성군  0.035361  0.034782  0.034395  0.033306  0.032979  0.032533
55    전남  강진군  0.030713  0.029749  0.029719  0.028935  0.028186  0.027620
56    전남   장흥  0.031417  0.031546  0.031888  0.031352  0.031644  0.029753
57    전남   해남  0.057844  0.057774  0.057603  0.055880  0.055411  0.054958
58    전남   고흥  0.053606  0.052902  0.052373  0.050552  0.049889  0.049496
59    전남  광양시  0.111282  0.111509  0.112428  0.110407  0.111694  0.113821
60    전남   순천  0.200969  0.202410  0.204409  0.201211  0.202727  0.203783
61    전북   군산  0.198005  0.199307  0.199276  0.199327  0.199963  0.199587
62    전북   전주  0.463943  0.464620  0.465458  0.467950  0.468510  0.468668
63    전북   고창  0.043144  0.043278  0.043334  0.043070  0.043129  0.043575
64    전북   부안  0.042437  0.042153  0.042361  0.041238  0.040832  0.040992
65    전북   임실  0.022116  0.021450  0.021293  0.021478  0.021743  0.021715
66    전북   정읍  0.086530  0.085491  0.084723  0.083991  0.083302  0.082821
67    전북   남원  0.062819  0.062297  0.061905  0.061385  0.060949  0.060540
68    전북   장수  0.016675  0.016606  0.016642  0.016725  0.016719  0.016991
69    전북  고창군  0.043144  0.043278  0.043334  0.043070  0.043129  0.043575
70    전북  순창군  0.021188  0.021521  0.021675  0.021766  0.021726  0.021536
71    제주   제주  0.733812  0.736074  0.737893  0.739009  0.736515  0.733584
72    제주  서귀포  0.266188  0.263926  0.262107  0.260991  0.263485  0.266416
73    충남   서산  0.166600  0.166676  0.167537  0.168082  0.168975  0.167865
74    충남   보령  0.109789  0.107731  0.106014  0.104614  0.104062  0.102095
75    충남   부여  0.076346  0.074767  0.073291  0.071956  0.070673  0.068986
76    충남   금산  0.057803  0.056862  0.056009  0.055321  0.054516  0.053677
77    충북   충주  0.199881  0.199041  0.197726  0.172181  0.171792  0.171582
78    충북   청주  0.634787  0.636760  0.639314  0.686587  0.687383  0.687810
79    충북   제천  0.132040  0.131315  0.130355  0.112960  0.112487  0.112426
80    충북   보은  0.033293  0.032884  0.032605  0.028272  0.028338  0.028182
81    충남   천안  0.589461  0.593965  0.597149  0.600027  0.601774  0.607378
82    전남  진도군       NaN       NaN       NaN  0.023770  0.023618  0.023468

In [ ]:
weight_full.to_csv('/content/drive/MyDrive/날씨 빅콘/data/인구수/weight_full.csv', index = False)