In [ ]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
air = pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/대기오염/air_mean_시군구.csv')

In [ ]:
air['지역'].unique()

array(['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산',
       '인천', '전남', '전북', '제주', '충남', '충북'], dtype=object)

## 강원

In [ ]:
gangwon = air[(air['지역']=="강원")]
gangwon_train = gangwon[(gangwon['측정일']>=20110101) & (gangwon['측정일']<=20151231)]
gangwon_test = gangwon[gangwon['측정일']>=20160101]
gangwon_train2 = gangwon_train.iloc[:, 3:]
gangwon_test2 = gangwon_test.iloc[:, 3:]

In [ ]:
gangwon

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      강원  20110101  강릉시  0.006083  0.458333  0.026208  0.012250  25.500000
1      강원  20110101  고성군  0.002596  0.316667  0.038167  0.003554  25.666667
2      강원  20110101  동해시  0.003708  0.433333  0.029708  0.012792  17.166667
3      강원  20110101  삼척시  0.004708  0.504167  0.030375  0.010083  24.750000
4      강원  20110101  양구군  0.002021  0.595833  0.024042  0.005071  32.083333
...    ..       ...  ...       ...       ...       ...       ...        ...
19662  강원  20161231  양구군  0.001712  0.533333  0.021292  0.009029  42.166667
19663  강원  20161231  원주시  0.007729  1.168750  0.003896  0.035208  72.354167
19664  강원  20161231  정선군  0.004471  0.466667  0.023542  0.005583  44.541667
19665  강원  20161231  춘천시  0.005750  0.895833  0.008000  0.029958  61.416667
19666  강원  20161231  횡성군  0.002529  0.412500  0.021250  0.013921  58.916667

[19667 rows x 8 columns]

In [ ]:
gangwon_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
gangwon_train

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      강원  20110101  강릉시  0.006083  0.458333  0.026208  0.012250  25.500000
1      강원  20110101  고성군  0.002596  0.316667  0.038167  0.003554  25.666667
2      강원  20110101  동해시  0.003708  0.433333  0.029708  0.012792  17.166667
3      강원  20110101  삼척시  0.004708  0.504167  0.030375  0.010083  24.750000
4      강원  20110101  양구군  0.002021  0.595833  0.024042  0.005071  32.083333
...    ..       ...  ...       ...       ...       ...       ...        ...
16368  강원  20151231  양구군  0.001587  0.662500  0.020375  0.013779  50.333333
16369  강원  20151231  원주시  0.008583  1.408333  0.004667  0.038646  71.458333
16370  강원  20151231  정선군  0.001958  0.500000  0.023333  0.009358  52.291667
16371  강원  20151231  춘천시  0.006417  1.325000  0.008833  0.026542  67.791667
16372  강원  20151231  횡성군  0.001800  0.581818  0.020909  0.015745  61.875000

[16373 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
gangwon_train_mice = imputer_mice.fit_transform(gangwon_train2)
gangwon_test_mice = imputer_mice.transform(gangwon_test2)

In [ ]:
df1 = pd.DataFrame(gangwon_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(gangwon_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.006083  0.458333  0.026208  0.012250  25.500000
1      0.002596  0.316667  0.038167  0.003554  25.666667
2      0.003708  0.433333  0.029708  0.012792  17.166667
3      0.004708  0.504167  0.030375  0.010083  24.750000
4      0.002021  0.595833  0.024042  0.005071  32.083333
...         ...       ...       ...       ...        ...
19662  0.001712  0.533333  0.021292  0.009029  42.166667
19663  0.007729  1.168750  0.003896  0.035208  72.354167
19664  0.004471  0.466667  0.023542  0.005583  44.541667
19665  0.005750  0.895833  0.008000  0.029958  61.416667
19666  0.002529  0.412500  0.021250  0.013921  58.916667

[19667 rows x 5 columns]

In [ ]:
df = pd.concat([df3, gangwon.iloc[:, 0:3]], axis=1 )
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      강원  20110101  강릉시  0.006083  0.458333  0.026208  0.012250  25.500000
1      강원  20110101  고성군  0.002596  0.316667  0.038167  0.003554  25.666667
2      강원  20110101  동해시  0.003708  0.433333  0.029708  0.012792  17.166667
3      강원  20110101  삼척시  0.004708  0.504167  0.030375  0.010083  24.750000
4      강원  20110101  양구군  0.002021  0.595833  0.024042  0.005071  32.083333
...    ..       ...  ...       ...       ...       ...       ...        ...
19662  강원  20161231  양구군  0.001712  0.533333  0.021292  0.009029  42.166667
19663  강원  20161231  원주시  0.007729  1.168750  0.003896  0.035208  72.354167
19664  강원  20161231  정선군  0.004471  0.466667  0.023542  0.005583  44.541667
19665  강원  20161231  춘천시  0.005750  0.895833  0.008000  0.029958  61.416667
19666  강원  20161231  횡성군  0.002529  0.412500  0.021250  0.013921  58.916667

[19667 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/강원_대기오염_mice.csv', index=False)

## 경기

In [ ]:
kyeongki = air[(air['지역']=="경기")]
kyeongki_train = kyeongki[(kyeongki['측정일']>=20110101) & (kyeongki['측정일']<=20151231)]
kyeongki_test = kyeongki[kyeongki['측정일']>=20160101]
kyeongki_train2 = kyeongki_train.iloc[:, 3:]
kyeongki_test2 = kyeongki_test.iloc[:, 3:]

In [ ]:
kyeongki

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
19667  경기  20110101  고양시  0.007583  0.933333  0.010111  0.040444  70.513889
19668  경기  20110101  과천시  0.008833  1.006250  0.008521  0.047104  72.437500
19669  경기  20110101  광명시  0.008063  0.868750  0.010792  0.037104  66.812500
19670  경기  20110101  광주시  0.007708  1.333333  0.005625  0.045708  70.958333
19671  경기  20110101  구리시  0.005729  1.141667  0.006896  0.047813  53.791667
...    ..       ...  ...       ...       ...       ...       ...        ...
87583  경기  20161231  파주시  0.007479  1.112500  0.003229  0.047292  73.958333
87584  경기  20161231  평택시  0.004847  0.562500  0.005667  0.032958  72.888889
87585  경기  20161231  포천시  0.004498  0.902083  0.008521  0.030254  64.854167
87586  경기  20161231  하남시  0.004667  0.650000  0.004542  0.040167  58.833333
87587  경기  20161231  화성시  0.005097  0.645833  0.004694  0.033694  64.625000

[67921 rows x 8 columns]

In [ ]:
kyeongki_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
kyeongki_train

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
19667  경기  20110101  고양시  0.007583  0.933333  0.010111  0.040444  70.513889
19668  경기  20110101  과천시  0.008833  1.006250  0.008521  0.047104  72.437500
19669  경기  20110101  광명시  0.008063  0.868750  0.010792  0.037104  66.812500
19670  경기  20110101  광주시  0.007708  1.333333  0.005625  0.045708  70.958333
19671  경기  20110101  구리시  0.005729  1.141667  0.006896  0.047813  53.791667
...    ..       ...  ...       ...       ...       ...       ...        ...
76237  경기  20151231  파주시  0.006042  1.133333  0.012417  0.035250  74.083333
76238  경기  20151231  평택시  0.006347  0.683333  0.013153  0.028750  85.569444
76239  경기  20151231  포천시  0.002598  0.739583  0.012562  0.017523  79.787234
76240  경기  20151231  하남시  0.004542  0.887500  0.003875  0.042833  77.666667
76241  경기  20151231  화성시  0.006583  0.760417  0.009896  0.024167  75.145833

[56575 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
kyeongki_train_mice = imputer_mice.fit_transform(kyeongki_train2)
kyeongki_test_mice = imputer_mice.transform(kyeongki_test2)

In [ ]:
df1 = pd.DataFrame(kyeongki_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(kyeongki_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.007583  0.933333  0.010111  0.040444  70.513889
1      0.008833  1.006250  0.008521  0.047104  72.437500
2      0.008063  0.868750  0.010792  0.037104  66.812500
3      0.007708  1.333333  0.005625  0.045708  70.958333
4      0.005729  1.141667  0.006896  0.047813  53.791667
...         ...       ...       ...       ...        ...
67916  0.007479  1.112500  0.003229  0.047292  73.958333
67917  0.004847  0.562500  0.005667  0.032958  72.888889
67918  0.004498  0.902083  0.008521  0.030254  64.854167
67919  0.004667  0.650000  0.004542  0.040167  58.833333
67920  0.005097  0.645833  0.004694  0.033694  64.625000

[67921 rows x 5 columns]

In [ ]:
df4 = kyeongki.iloc[:, 0:3]
df4.reset_index(drop=True, inplace=True)
df = pd.concat([df3, df4], axis=1 )
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      경기  20110101  고양시  0.007583  0.933333  0.010111  0.040444  70.513889
1      경기  20110101  과천시  0.008833  1.006250  0.008521  0.047104  72.437500
2      경기  20110101  광명시  0.008063  0.868750  0.010792  0.037104  66.812500
3      경기  20110101  광주시  0.007708  1.333333  0.005625  0.045708  70.958333
4      경기  20110101  구리시  0.005729  1.141667  0.006896  0.047813  53.791667
...    ..       ...  ...       ...       ...       ...       ...        ...
67916  경기  20161231  파주시  0.007479  1.112500  0.003229  0.047292  73.958333
67917  경기  20161231  평택시  0.004847  0.562500  0.005667  0.032958  72.888889
67918  경기  20161231  포천시  0.004498  0.902083  0.008521  0.030254  64.854167
67919  경기  20161231  하남시  0.004667  0.650000  0.004542  0.040167  58.833333
67920  경기  20161231  화성시  0.005097  0.645833  0.004694  0.033694  64.625000

[67921 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/경기_대기오염_mice.csv', index=False)

## 경남

In [ ]:
kyeongnam = air[(air['지역']=="경남")]
kyeongnam_train = kyeongnam[(kyeongnam['측정일']>=20110101) & (kyeongnam['측정일']<=20151231)]
kyeongnam_test = kyeongnam[kyeongnam['측정일']>=20160101]
kyeongnam_train2 = kyeongnam_train.iloc[:, 3:]
kyeongnam_test2 = kyeongnam_test.iloc[:, 3:]

In [ ]:
kyeongnam

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
87588   경남  20110101  거제시  0.002537  0.316667  0.032750  0.003442  36.625000
87589   경남  20110101  거창군  0.007579  0.445833  0.030042  0.006908  31.166667
87590   경남  20110101  김해시  0.003822  0.357778  0.020244  0.011956  29.977778
87591   경남  20110101  양산시  0.002958  0.222917  0.024333  0.009250  23.291667
87592   경남  20110101  진주시  0.004158  0.334211  0.026447  0.008684  26.210526
...     ..       ...  ...       ...       ...       ...       ...        ...
104388  경남  20161231  사천시  0.006542  0.712500  0.011125  0.024208  40.041667
104389  경남  20161231  양산시  0.004229  0.558333  0.011479  0.032250  46.916667
104390  경남  20161231  진주시  0.004667  0.704167  0.013375  0.024514  45.458333
104391  경남  20161231  창원시  0.003132  0.486667  0.015762  0.024152  40.299539
104392  경남  20161231  하동군  0.004917  0.608333  0.019042  0.014083  38.583333

[16805 rows x 8 columns]

In [ ]:
kyeongnam_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
kyeongnam_train

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
87588   경남  20110101  거제시  0.002537  0.316667  0.032750  0.003442  36.625000
87589   경남  20110101  거창군  0.007579  0.445833  0.030042  0.006908  31.166667
87590   경남  20110101  김해시  0.003822  0.357778  0.020244  0.011956  29.977778
87591   경남  20110101  양산시  0.002958  0.222917  0.024333  0.009250  23.291667
87592   경남  20110101  진주시  0.004158  0.334211  0.026447  0.008684  26.210526
...     ..       ...  ...       ...       ...       ...       ...        ...
101460  경남  20151231  사천시  0.005292  0.695833  0.015583  0.023125  61.416667
101461  경남  20151231  양산시  0.006979  0.810417  0.011896  0.026375  71.770833
101462  경남  20151231  진주시  0.005292  0.800000  0.018611  0.029347  54.285714
101463  경남  20151231  창원시  0.005911  0.719583  0.016407  0.032957  60.435556
101464  경남  20151231  하동군  0.003833  0.537500  0.024167  0.013000  57.958333

[13877 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
kyeongnam_train_mice = imputer_mice.fit_transform(kyeongnam_train2)
kyeongnam_test_mice = imputer_mice.transform(kyeongnam_test2)

In [ ]:
df1 = pd.DataFrame(kyeongnam_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(kyeongnam_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.002537  0.316667  0.032750  0.003442  36.625000
1      0.007579  0.445833  0.030042  0.006908  31.166667
2      0.003822  0.357778  0.020244  0.011956  29.977778
3      0.002958  0.222917  0.024333  0.009250  23.291667
4      0.004158  0.334211  0.026447  0.008684  26.210526
...         ...       ...       ...       ...        ...
16800  0.006542  0.712500  0.011125  0.024208  40.041667
16801  0.004229  0.558333  0.011479  0.032250  46.916667
16802  0.004667  0.704167  0.013375  0.024514  45.458333
16803  0.003132  0.486667  0.015762  0.024152  40.299539
16804  0.004917  0.608333  0.019042  0.014083  38.583333

[16805 rows x 5 columns]

In [ ]:
df4 = kyeongnam.iloc[:, 0:3]
df4.reset_index(drop=True, inplace=True)
df = pd.concat([df3, df4], axis=1 )
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      경남  20110101  거제시  0.002537  0.316667  0.032750  0.003442  36.625000
1      경남  20110101  거창군  0.007579  0.445833  0.030042  0.006908  31.166667
2      경남  20110101  김해시  0.003822  0.357778  0.020244  0.011956  29.977778
3      경남  20110101  양산시  0.002958  0.222917  0.024333  0.009250  23.291667
4      경남  20110101  진주시  0.004158  0.334211  0.026447  0.008684  26.210526
...    ..       ...  ...       ...       ...       ...       ...        ...
16800  경남  20161231  사천시  0.006542  0.712500  0.011125  0.024208  40.041667
16801  경남  20161231  양산시  0.004229  0.558333  0.011479  0.032250  46.916667
16802  경남  20161231  진주시  0.004667  0.704167  0.013375  0.024514  45.458333
16803  경남  20161231  창원시  0.003132  0.486667  0.015762  0.024152  40.299539
16804  경남  20161231  하동군  0.004917  0.608333  0.019042  0.014083  38.583333

[16805 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/경남_대기오염_mice.csv', index=False)

## 경북

In [ ]:
kyeongbuk = air[(air['지역']=="경북")]
kyeongbuk_train = kyeongbuk[(kyeongbuk['측정일']>=20110101) & (kyeongbuk['측정일']<=20151231)]
kyeongbuk_test = kyeongbuk[kyeongbuk['측정일']>=20160101]
kyeongbuk_train2 = kyeongbuk_train.iloc[:, 3:]
kyeongbuk_test2 = kyeongbuk_test.iloc[:, 3:]

In [ ]:
kyeongbuk

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
104393  경북  20110101  경주시  0.005167  0.404167  0.024208  0.012042  33.791667
104394  경북  20110101  구미시  0.004873  0.605556  0.026514  0.014313  29.902778
104395  경북  20110101  김천시  0.005750  0.387500  0.028292  0.007250  45.500000
104396  경북  20110101  안동시  0.013667  0.683333  0.014957  0.021458  53.291667
104397  경북  20110101  영덕군  0.003338  0.295833  0.030208  0.003742  31.916667
...     ..       ...  ...       ...       ...       ...       ...        ...
128135  경북  20161231  영주시  0.016167  1.520833  0.014458  0.025125  59.250000
128136  경북  20161231  영천시  0.002254  0.366667  0.033208  0.004638  34.500000
128137  경북  20161231  울릉군  0.001871  0.212500  0.044333  0.004058  40.869565
128138  경북  20161231  의성군  0.002512  0.370833  0.016292  0.007442  45.083333
128139  경북  20161231  포항시  0.005667  0.612500  0.032600  0.010775  41.048544

[23747 rows x 8 columns]

In [ ]:
kyeongbuk_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
kyeongbuk_train

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
104393  경북  20110101  경주시  0.005167  0.404167  0.024208  0.012042  33.791667
104394  경북  20110101  구미시  0.004873  0.605556  0.026514  0.014313  29.902778
104395  경북  20110101  김천시  0.005750  0.387500  0.028292  0.007250  45.500000
104396  경북  20110101  안동시  0.013667  0.683333  0.014957  0.021458  53.291667
104397  경북  20110101  영덕군  0.003338  0.295833  0.030208  0.003742  31.916667
...     ..       ...  ...       ...       ...       ...       ...        ...
124109  경북  20151231  영주시  0.016583  1.625000  0.009750  0.030875  76.791667
124110  경북  20151231  영천시  0.001992  0.495833  0.021292  0.009171  54.750000
124111  경북  20151231  울릉군  0.002175  0.283333  0.044750  0.001129  21.000000
124112  경북  20151231  의성군  0.003575  0.550000  0.012292  0.011775  70.083333
124113  경북  20151231  포항시  0.007208  0.719444  0.020542  0.020806  55.069444

[19721 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
kyeongbuk_train_mice = imputer_mice.fit_transform(kyeongbuk_train2)
kyeongbuk_test_mice = imputer_mice.transform(kyeongbuk_test2)

In [ ]:
df1 = pd.DataFrame(kyeongbuk_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(kyeongbuk_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.005167  0.404167  0.024208  0.012042  33.791667
1      0.004873  0.605556  0.026514  0.014313  29.902778
2      0.005750  0.387500  0.028292  0.007250  45.500000
3      0.013667  0.683333  0.014957  0.021458  53.291667
4      0.003338  0.295833  0.030208  0.003742  31.916667
...         ...       ...       ...       ...        ...
23742  0.016167  1.520833  0.014458  0.025125  59.250000
23743  0.002254  0.366667  0.033208  0.004638  34.500000
23744  0.001871  0.212500  0.044333  0.004058  40.869565
23745  0.002512  0.370833  0.016292  0.007442  45.083333
23746  0.005667  0.612500  0.032600  0.010775  41.048544

[23747 rows x 5 columns]

In [ ]:
df4 = kyeongbuk.iloc[:, 0:3]
df4.reset_index(drop=True, inplace=True)
df = pd.concat([df3, df4], axis=1 )
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      경북  20110101  경주시  0.005167  0.404167  0.024208  0.012042  33.791667
1      경북  20110101  구미시  0.004873  0.605556  0.026514  0.014313  29.902778
2      경북  20110101  김천시  0.005750  0.387500  0.028292  0.007250  45.500000
3      경북  20110101  안동시  0.013667  0.683333  0.014957  0.021458  53.291667
4      경북  20110101  영덕군  0.003338  0.295833  0.030208  0.003742  31.916667
...    ..       ...  ...       ...       ...       ...       ...        ...
23742  경북  20161231  영주시  0.016167  1.520833  0.014458  0.025125  59.250000
23743  경북  20161231  영천시  0.002254  0.366667  0.033208  0.004638  34.500000
23744  경북  20161231  울릉군  0.001871  0.212500  0.044333  0.004058  40.869565
23745  경북  20161231  의성군  0.002512  0.370833  0.016292  0.007442  45.083333
23746  경북  20161231  포항시  0.005667  0.612500  0.032600  0.010775  41.048544

[23747 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/경북_대기오염_mice.csv', index=False)

## 광주

In [ ]:
guangju = air[(air['지역']=="광주")]
guangju_train = guangju[(guangju['측정일']>=20110101) & (guangju['측정일']<=20151231)]
guangju_test = guangju[guangju['측정일']>=20160101]
guangju_train2 = guangju_train.iloc[:, 3:]
guangju_test2 = guangju_test.iloc[:, 3:]

In [ ]:
guangju

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
128140  광주  20110101  광산구  0.004958  0.570833  0.017396  0.021958  31.166667
128141  광주  20110101   남구  0.004792  0.654167  0.014417  0.033167  29.750000
128142  광주  20110101   동구  0.005625  1.183333  0.016875  0.021792  36.333333
128143  광주  20110101   북구  0.004069  0.686111  0.014514  0.016847  34.847222
128144  광주  20110101   서구  0.005854  0.835417  0.012146  0.031333  38.354167
...     ..       ...  ...       ...       ...       ...       ...        ...
139095  광주  20161231  광산구  0.004104  0.668750  0.004687  0.026396  46.354167
139096  광주  20161231   남구  0.003458  0.954167  0.005125  0.049542  47.875000
139097  광주  20161231   동구  0.003708  0.987500  0.004625  0.037083  47.750000
139098  광주  20161231   북구  0.003764  0.766667  0.007014  0.038917  58.916667
139099  광주  20161231   서구  0.003917  1.102083  0.003375  0.044562  59.916667

[10960 rows x 8 columns]

In [ ]:
guangju_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
guangju_train

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
128140  광주  20110101  광산구  0.004958  0.570833  0.017396  0.021958  31.166667
128141  광주  20110101   남구  0.004792  0.654167  0.014417  0.033167  29.750000
128142  광주  20110101   동구  0.005625  1.183333  0.016875  0.021792  36.333333
128143  광주  20110101   북구  0.004069  0.686111  0.014514  0.016847  34.847222
128144  광주  20110101   서구  0.005854  0.835417  0.012146  0.031333  38.354167
...     ..       ...  ...       ...       ...       ...       ...        ...
137265  광주  20151231  광산구  0.005167  0.606250  0.017521  0.023333  59.000000
137266  광주  20151231   남구  0.003500  1.012500  0.013333  0.041833  59.541667
137267  광주  20151231   동구  0.004417  0.812500  0.017167  0.029708  47.541667
137268  광주  20151231   북구  0.004014  0.675000  0.019222  0.026958  57.277778
137269  광주  20151231   서구  0.004792  0.870833  0.012958  0.030396  68.083333

[9130 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
guangju_train_mice = imputer_mice.fit_transform(guangju_train2)
guangju_test_mice = imputer_mice.transform(guangju_test2)

In [ ]:
df1 = pd.DataFrame(guangju_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(guangju_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.004958  0.570833  0.017396  0.021958  31.166667
1      0.004792  0.654167  0.014417  0.033167  29.750000
2      0.005625  1.183333  0.016875  0.021792  36.333333
3      0.004069  0.686111  0.014514  0.016847  34.847222
4      0.005854  0.835417  0.012146  0.031333  38.354167
...         ...       ...       ...       ...        ...
10955  0.004104  0.668750  0.004687  0.026396  46.354167
10956  0.003458  0.954167  0.005125  0.049542  47.875000
10957  0.003708  0.987500  0.004625  0.037083  47.750000
10958  0.003764  0.766667  0.007014  0.038917  58.916667
10959  0.003917  1.102083  0.003375  0.044562  59.916667

[10960 rows x 5 columns]

In [ ]:
df4 = guangju.iloc[:, 0:3]
df4.reset_index(drop=True, inplace=True)
df = pd.concat([df3, df4], axis=1 )
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      광주  20110101  광산구  0.004958  0.570833  0.017396  0.021958  31.166667
1      광주  20110101   남구  0.004792  0.654167  0.014417  0.033167  29.750000
2      광주  20110101   동구  0.005625  1.183333  0.016875  0.021792  36.333333
3      광주  20110101   북구  0.004069  0.686111  0.014514  0.016847  34.847222
4      광주  20110101   서구  0.005854  0.835417  0.012146  0.031333  38.354167
...    ..       ...  ...       ...       ...       ...       ...        ...
10955  광주  20161231  광산구  0.004104  0.668750  0.004687  0.026396  46.354167
10956  광주  20161231   남구  0.003458  0.954167  0.005125  0.049542  47.875000
10957  광주  20161231   동구  0.003708  0.987500  0.004625  0.037083  47.750000
10958  광주  20161231   북구  0.003764  0.766667  0.007014  0.038917  58.916667
10959  광주  20161231   서구  0.003917  1.102083  0.003375  0.044562  59.916667

[10960 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/광주_대기오염_mice.csv', index=False)

## 대구

In [ ]:
daegu = air[(air['지역']=="대구")]
daegu_train = daegu[(daegu['측정일']>=20110101) & (daegu['측정일']<=20151231)]
daegu_test = daegu[daegu['측정일']>=20160101]
daegu_train2 = daegu_train.iloc[:, 3:]
daegu_test2 = daegu_test.iloc[:, 3:]

In [ ]:
daegu

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
139100  대구  20110101   남구  0.008083  0.370833  0.020042  0.018625  23.708333
139101  대구  20110101  달서구  0.003542  0.287500  0.028083  0.013292  38.000000
139102  대구  20110101  달성군  0.004500  0.762500  0.031417  0.007083  27.500000
139103  대구  20110101   동구  0.005542  0.495833  0.018458  0.022583  45.020833
139104  대구  20110101   북구  0.005771  0.391667  0.021646  0.017521  37.666667
...     ..       ...  ...       ...       ...       ...       ...        ...
156630  대구  20161231   동구  0.005604  0.666667  0.011062  0.034766  49.333333
156631  대구  20161231   북구  0.004375  0.625000  0.010771  0.031708  48.170213
156632  대구  20161231   서구  0.005083  0.695833  0.008854  0.037771  61.875000
156633  대구  20161231  수성구  0.004708  0.522917  0.013021  0.033970  38.291667
156634  대구  20161231   중구  0.007333  0.833333  0.010083  0.034750  59.208333

[17535 rows x 8 columns]

In [ ]:
daegu_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
daegu_train

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
139100  대구  20110101   남구  0.008083  0.370833  0.020042  0.018625  23.708333
139101  대구  20110101  달서구  0.003542  0.287500  0.028083  0.013292  38.000000
139102  대구  20110101  달성군  0.004500  0.762500  0.031417  0.007083  27.500000
139103  대구  20110101   동구  0.005542  0.495833  0.018458  0.022583  45.020833
139104  대구  20110101   북구  0.005771  0.391667  0.021646  0.017521  37.666667
...     ..       ...  ...       ...       ...       ...       ...        ...
153702  대구  20151231   동구  0.006674  0.943478  0.010978  0.035543  81.812500
153703  대구  20151231   북구  0.006167  0.891667  0.009354  0.032958  82.520833
153704  대구  20151231   서구  0.004771  0.791667  0.006917  0.033750  90.270833
153705  대구  20151231  수성구  0.007604  0.818750  0.010229  0.039083  67.520833
153706  대구  20151231   중구  0.009250  0.991667  0.009375  0.030292  74.333333

[14607 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
daegu_train_mice = imputer_mice.fit_transform(daegu_train2)
daegu_test_mice = imputer_mice.transform(daegu_test2)

In [ ]:
df1 = pd.DataFrame(daegu_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(daegu_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.008083  0.370833  0.020042  0.018625  23.708333
1      0.003542  0.287500  0.028083  0.013292  38.000000
2      0.004500  0.762500  0.031417  0.007083  27.500000
3      0.005542  0.495833  0.018458  0.022583  45.020833
4      0.005771  0.391667  0.021646  0.017521  37.666667
...         ...       ...       ...       ...        ...
17530  0.005604  0.666667  0.011062  0.034766  49.333333
17531  0.004375  0.625000  0.010771  0.031708  48.170213
17532  0.005083  0.695833  0.008854  0.037771  61.875000
17533  0.004708  0.522917  0.013021  0.033970  38.291667
17534  0.007333  0.833333  0.010083  0.034750  59.208333

[17535 rows x 5 columns]

In [ ]:
df4 = daegu.iloc[:, 0:3]
df4.reset_index(drop=True, inplace=True)
df = pd.concat([df3, df4], axis=1 )
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      대구  20110101   남구  0.008083  0.370833  0.020042  0.018625  23.708333
1      대구  20110101  달서구  0.003542  0.287500  0.028083  0.013292  38.000000
2      대구  20110101  달성군  0.004500  0.762500  0.031417  0.007083  27.500000
3      대구  20110101   동구  0.005542  0.495833  0.018458  0.022583  45.020833
4      대구  20110101   북구  0.005771  0.391667  0.021646  0.017521  37.666667
...    ..       ...  ...       ...       ...       ...       ...        ...
17530  대구  20161231   동구  0.005604  0.666667  0.011062  0.034766  49.333333
17531  대구  20161231   북구  0.004375  0.625000  0.010771  0.031708  48.170213
17532  대구  20161231   서구  0.005083  0.695833  0.008854  0.037771  61.875000
17533  대구  20161231  수성구  0.004708  0.522917  0.013021  0.033970  38.291667
17534  대구  20161231   중구  0.007333  0.833333  0.010083  0.034750  59.208333

[17535 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/대구_대기오염_mice.csv', index=False)

## 대전

In [ ]:
daejeon = air[(air['지역']=="대전")]
daejeon_train = daejeon[(daejeon['측정일']>=20110101) & (daejeon['측정일']<=20151231)]
daejeon_test = daejeon[daejeon['측정일']>=20160101]
daejeon_train2 = daejeon_train.iloc[:, 3:]
daejeon_test2 = daejeon_test.iloc[:, 3:]

In [ ]:
daejeon

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
156635  대전  20110101  대덕구       NaN       NaN       NaN       NaN        NaN
156636  대전  20110101   동구       NaN       NaN       NaN       NaN        NaN
156637  대전  20110101   서구       NaN       NaN       NaN       NaN        NaN
156638  대전  20110101  유성구       NaN       NaN       NaN       NaN        NaN
156639  대전  20110101   중구       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
167590  대전  20161231  대덕구  0.003646  0.625000  0.003646  0.032813  48.765957
167591  대전  20161231   동구  0.007958  0.966667  0.003375  0.037375  44.625000
167592  대전  20161231   서구  0.002569  0.552778  0.007639  0.022542  32.347222
167593  대전  20161231  유성구  0.003750  0.691667  0.005271  0.028438  48.829787
167594  대전  20161231   중구  0.005333  0.802083  0.003375  0.036562  49.166667

[10960 rows x 8 columns]

In [ ]:
daejeon_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
daejeon_train

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
156635  대전  20110101  대덕구       NaN       NaN       NaN       NaN        NaN
156636  대전  20110101   동구       NaN       NaN       NaN       NaN        NaN
156637  대전  20110101   서구       NaN       NaN       NaN       NaN        NaN
156638  대전  20110101  유성구       NaN       NaN       NaN       NaN        NaN
156639  대전  20110101   중구       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
165760  대전  20151231  대덕구  0.005021  0.620833  0.008229  0.026146  61.458333
165761  대전  20151231   동구  0.009667  0.837500  0.006750  0.027167  49.208333
165762  대전  20151231   서구  0.002722  0.708333  0.008819  0.027528  46.819444
165763  대전  20151231  유성구  0.002750  0.685417  0.008021  0.019833  57.062500
165764  대전  20151231   중구  0.004917  0.766667  0.006000  0.037562  66.083333

[9130 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
daejeon_train_mice = imputer_mice.fit_transform(daejeon_train2)
daejeon_test_mice = imputer_mice.transform(daejeon_test2)

In [ ]:
df1 = pd.DataFrame(daejeon_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(daejeon_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.003833  0.478014  0.023425  0.020742  43.547934
1      0.003833  0.478014  0.023425  0.020742  43.547934
2      0.003833  0.478014  0.023425  0.020742  43.547934
3      0.003833  0.478014  0.023425  0.020742  43.547934
4      0.003833  0.478014  0.023425  0.020742  43.547934
...         ...       ...       ...       ...        ...
10955  0.003646  0.625000  0.003646  0.032813  48.765957
10956  0.007958  0.966667  0.003375  0.037375  44.625000
10957  0.002569  0.552778  0.007639  0.022542  32.347222
10958  0.003750  0.691667  0.005271  0.028438  48.829787
10959  0.005333  0.802083  0.003375  0.036562  49.166667

[10960 rows x 5 columns]

In [ ]:
df4 = daejeon.iloc[:, 0:3]
df4.reset_index(drop=True, inplace=True)
df = pd.concat([df3, df4], axis=1 )
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      대전  20110101  대덕구  0.003833  0.478014  0.023425  0.020742  43.547934
1      대전  20110101   동구  0.003833  0.478014  0.023425  0.020742  43.547934
2      대전  20110101   서구  0.003833  0.478014  0.023425  0.020742  43.547934
3      대전  20110101  유성구  0.003833  0.478014  0.023425  0.020742  43.547934
4      대전  20110101   중구  0.003833  0.478014  0.023425  0.020742  43.547934
...    ..       ...  ...       ...       ...       ...       ...        ...
10955  대전  20161231  대덕구  0.003646  0.625000  0.003646  0.032813  48.765957
10956  대전  20161231   동구  0.007958  0.966667  0.003375  0.037375  44.625000
10957  대전  20161231   서구  0.002569  0.552778  0.007639  0.022542  32.347222
10958  대전  20161231  유성구  0.003750  0.691667  0.005271  0.028438  48.829787
10959  대전  20161231   중구  0.005333  0.802083  0.003375  0.036562  49.166667

[10960 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/대전_대기오염_mice.csv', index=False)

## 부산

In [ ]:
busan = air[(air['지역']=="부산")]
busan_train = busan[(busan['측정일']>=20110101) & (busan['측정일']<=20151231)]
busan_test = busan[busan['측정일']>=20160101]
busan_train2 = busan_train.iloc[:, 3:]
busan_test2 = busan_test.iloc[:, 3:]

In [ ]:
busan

        지역       측정일   시군구       SO2        CO        O3       NO2       PM10
167595  부산  20110101   강서구  0.003875  0.325000  0.025729  0.007521  29.500000
167596  부산  20110101   금정구  0.003917  0.633333  0.028625  0.012604  23.541667
167597  부산  20110101   기장군  0.003042  0.308333  0.032563  0.005479  20.729167
167598  부산  20110101    남구  0.003917  0.420833  0.023833  0.017583  23.250000
167599  부산  20110101    동구  0.004042  0.395833  0.025542  0.014375  32.666667
...     ..       ...   ...       ...       ...       ...       ...        ...
201931  부산  20161231   수영구       NaN       NaN  0.025583  0.011833  27.708333
201932  부산  20161231   연제구  0.003958  0.437500  0.023083  0.029125  43.708333
201933  부산  20161231   영도구  0.003833  0.500000  0.027917  0.015042  30.375000
201934  부산  20161231    중구  0.004250  0.554167  0.024542  0.023042  44.375000
201935  부산  20161231  해운대구  0.004125  0.429167  0.014333  0.027083  36.875000

[34341 rows x 8 columns]

In [ ]:
busan_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
busan_train

        지역       측정일    시군구       SO2        CO        O3       NO2       PM10
167595  부산  20110101    강서구  0.003875  0.325000  0.025729  0.007521  29.500000
167596  부산  20110101    금정구  0.003917  0.633333  0.028625  0.012604  23.541667
167597  부산  20110101    기장군  0.003042  0.308333  0.032563  0.005479  20.729167
167598  부산  20110101     남구  0.003917  0.420833  0.023833  0.017583  23.250000
167599  부산  20110101     동구  0.004042  0.395833  0.025542  0.014375  32.666667
...     ..       ...    ...       ...       ...       ...       ...        ...
196075  부산  20151231    수영구       NaN       NaN  0.027625  0.015917  63.166667
196076  부산  20151231    연제구  0.005333  0.591667  0.014958  0.038250  66.333333
196077  부산  20151231    영도구  0.008542  0.500000  0.025125  0.020625  59.916667
196078  부산  20151231  중구광복로  0.006708  0.679167  0.015042  0.031292  64.391304
196079  부산  20151231   해운대구  0.006208  0.987500  0.017167  0.024417  58.000000

[28485 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
busan_train_mice = imputer_mice.fit_transform(busan_train2)
busan_test_mice = imputer_mice.transform(busan_test2)

In [ ]:
df1 = pd.DataFrame(busan_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(busan_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.003875  0.325000  0.025729  0.007521  29.500000
1      0.003917  0.633333  0.028625  0.012604  23.541667
2      0.003042  0.308333  0.032563  0.005479  20.729167
3      0.003917  0.420833  0.023833  0.017583  23.250000
4      0.004042  0.395833  0.025542  0.014375  32.666667
...         ...       ...       ...       ...        ...
34336  0.005152  0.325521  0.025583  0.011833  27.708333
34337  0.003958  0.437500  0.023083  0.029125  43.708333
34338  0.003833  0.500000  0.027917  0.015042  30.375000
34339  0.004250  0.554167  0.024542  0.023042  44.375000
34340  0.004125  0.429167  0.014333  0.027083  36.875000

[34341 rows x 5 columns]

In [ ]:
df4 = busan.iloc[:, 0:3]
df4.reset_index(drop=True, inplace=True)
df = pd.concat([df3, df4], axis=1 )
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일   시군구       SO2        CO        O3       NO2       PM10
0      부산  20110101   강서구  0.003875  0.325000  0.025729  0.007521  29.500000
1      부산  20110101   금정구  0.003917  0.633333  0.028625  0.012604  23.541667
2      부산  20110101   기장군  0.003042  0.308333  0.032563  0.005479  20.729167
3      부산  20110101    남구  0.003917  0.420833  0.023833  0.017583  23.250000
4      부산  20110101    동구  0.004042  0.395833  0.025542  0.014375  32.666667
...    ..       ...   ...       ...       ...       ...       ...        ...
34336  부산  20161231   수영구  0.005152  0.325521  0.025583  0.011833  27.708333
34337  부산  20161231   연제구  0.003958  0.437500  0.023083  0.029125  43.708333
34338  부산  20161231   영도구  0.003833  0.500000  0.027917  0.015042  30.375000
34339  부산  20161231    중구  0.004250  0.554167  0.024542  0.023042  44.375000
34340  부산  20161231  해운대구  0.004125  0.429167  0.014333  0.027083  36.875000

[34341 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/부산_대기오염_mice.csv', index=False)

## 서울

In [ ]:
seoul = air[(air['지역']=="서울")]
seoul_train = seoul[(seoul['측정일']>=20110101) & (seoul['측정일']<=20151231)]
seoul_test = seoul[seoul['측정일']>=20160101]
seoul_train2 = seoul_train.iloc[:, 3:]
seoul_test2 = seoul_test.iloc[:, 3:]

In [ ]:
seoul

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
201936  서울  20110101  강남구  0.007771  0.812500  0.005333  0.046750  65.812500
201937  서울  20110101  강동구  0.008437  0.975000  0.005979  0.042958  57.979167
201938  서울  20110101  강북구  0.006917  0.866667  0.006042  0.043000  50.250000
201939  서울  20110101  강서구  0.009542  0.787500  0.008708  0.043000  64.958333
201940  서울  20110101  관악구  0.006583  0.904167  0.008292  0.041917  65.000000
...     ..       ...  ...       ...       ...       ...       ...        ...
257827  서울  20161231  용산구  0.006083  1.054167  0.002063  0.053208  65.125000
257828  서울  20161231  은평구  0.006958  0.758333       NaN  0.037667  51.375000
257829  서울  20161231  종로구  0.005125  1.041667  0.002458  0.063521  59.854167
257830  서울  20161231   중구  0.006354  1.016667  0.002354  0.064583  57.916667
257831  서울  20161231  중랑구  0.005542  0.766667  0.003250  0.045625  55.708333

[55896 rows x 8 columns]

In [ ]:
seoul_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
seoul_train

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
201936  서울  20110101  강남구  0.007771  0.812500  0.005333  0.046750  65.812500
201937  서울  20110101  강동구  0.008437  0.975000  0.005979  0.042958  57.979167
201938  서울  20110101  강북구  0.006917  0.866667  0.006042  0.043000  50.250000
201939  서울  20110101  강서구  0.009542  0.787500  0.008708  0.043000  64.958333
201940  서울  20110101  관악구  0.006583  0.904167  0.008292  0.041917  65.000000
...     ..       ...  ...       ...       ...       ...       ...        ...
248311  서울  20151231  용산구  0.005750  0.768750  0.006208  0.045396  62.312500
248312  서울  20151231  은평구  0.006750  0.812500  0.013500  0.037083  61.125000
248313  서울  20151231  종로구  0.005313  0.637500  0.007000  0.039583  66.979167
248314  서울  20151231   중구  0.008583  0.781250  0.006833  0.050854  59.562500
248315  서울  20151231  중랑구  0.006792  0.941667  0.005667  0.046583  57.291667

[46380 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
seoul_train_mice = imputer_mice.fit_transform(seoul_train2)
seoul_test_mice = imputer_mice.transform(seoul_test2)

In [ ]:
df1 = pd.DataFrame(seoul_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(seoul_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.007771  0.812500  0.005333  0.046750  65.812500
1      0.008437  0.975000  0.005979  0.042958  57.979167
2      0.006917  0.866667  0.006042  0.043000  50.250000
3      0.009542  0.787500  0.008708  0.043000  64.958333
4      0.006583  0.904167  0.008292  0.041917  65.000000
...         ...       ...       ...       ...        ...
55891  0.006083  1.054167  0.002063  0.053208  65.125000
55892  0.006958  0.758333  0.016661  0.037667  51.375000
55893  0.005125  1.041667  0.002458  0.063521  59.854167
55894  0.006354  1.016667  0.002354  0.064583  57.916667
55895  0.005542  0.766667  0.003250  0.045625  55.708333

[55896 rows x 5 columns]

In [ ]:
df4 = seoul.iloc[:, 0:3]
df4.reset_index(drop=True, inplace=True)
df = pd.concat([df3, df4], axis=1 )
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      서울  20110101  강남구  0.007771  0.812500  0.005333  0.046750  65.812500
1      서울  20110101  강동구  0.008437  0.975000  0.005979  0.042958  57.979167
2      서울  20110101  강북구  0.006917  0.866667  0.006042  0.043000  50.250000
3      서울  20110101  강서구  0.009542  0.787500  0.008708  0.043000  64.958333
4      서울  20110101  관악구  0.006583  0.904167  0.008292  0.041917  65.000000
...    ..       ...  ...       ...       ...       ...       ...        ...
55891  서울  20161231  용산구  0.006083  1.054167  0.002063  0.053208  65.125000
55892  서울  20161231  은평구  0.006958  0.758333  0.016661  0.037667  51.375000
55893  서울  20161231  종로구  0.005125  1.041667  0.002458  0.063521  59.854167
55894  서울  20161231   중구  0.006354  1.016667  0.002354  0.064583  57.916667
55895  서울  20161231  중랑구  0.005542  0.766667  0.003250  0.045625  55.708333

[55896 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/서울_대기오염_mice.csv', index=False)

## 세종 - 결측치 처리 X (2016년 데이터만 있음)

In [ ]:
sejong = air[(air['지역']=="세종")]
sejong_train = sejong[(sejong['측정일']>=20110101) & (sejong['측정일']<=20151231)]
sejong_test = sejong[sejong['측정일']>=20160101]
sejong_train2 = sejong_train.iloc[:, 3:]
sejong_test2 = sejong_test.iloc[:, 3:]

In [ ]:
sejong

        지역       측정일   시군구       SO2        CO        O3       NO2       PM10
257832  세종  20160101  보듬3로  0.003750  1.166667  0.016958  0.017375  57.333333
257833  세종  20160101  조치원읍  0.003000  1.058333  0.011708  0.037292  67.125000
257834  세종  20160102  보듬3로  0.003542  0.970833  0.021083  0.019458  46.958333
257835  세종  20160102  조치원읍  0.004333  0.983333  0.014208  0.044458  57.625000
257836  세종  20160103  보듬3로  0.003458  1.079167  0.018708  0.017708  61.083333
...     ..       ...   ...       ...       ...       ...       ...        ...
258559  세종  20161229  조치원읍  0.005583  0.716667  0.014167  0.023667  36.583333
258560  세종  20161230  보듬3로  0.004875  0.650000  0.008417  0.031542  38.791667
258561  세종  20161230  조치원읍  0.005792  0.858333  0.008583  0.031708  42.458333
258562  세종  20161231  보듬3로  0.005042  0.787500  0.004167  0.034958  43.625000
258563  세종  20161231  조치원읍  0.006000  1.116667  0.004083  0.037792  54.500000

[732 rows x 8 columns]

In [ ]:
sejong_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
sejong_train

Empty DataFrame
Columns: [지역, 측정일, 시군구, SO2, CO, O3, NO2, PM10]
Index: []

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
sejong_train_mice = imputer_mice.fit_transform(sejong_train2)
sejong_test_mice = imputer_mice.transform(sejong_test2)

ValueError: ignored

In [ ]:
df1 = pd.DataFrame(sejong_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(sejong_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

In [ ]:
df4 = sejong.iloc[:,0:3]
df4.reset_index(drop=True,inplace=True)
df4

In [ ]:
df = pd.concat([df3, df4], axis=1)
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

In [ ]:
df.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/세종_대기오염_mice.csv', index=False)

## 울산

In [ ]:
ulsan = air[(air['지역']=="울산")]
ulsan_train = ulsan[(ulsan['측정일']>=20110101) & (ulsan['측정일']<=20151231)]
ulsan_test = ulsan[ulsan['측정일']>=20160101]
ulsan_train2 = ulsan_train.iloc[:, 3:]
ulsan_test2 = ulsan_test.iloc[:, 3:]

In [ ]:
ulsan

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
338597  충북  20110101  괴산군       NaN       NaN       NaN       NaN        NaN
338598  충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
338599  충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
338600  충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
338601  충북  20110102  괴산군       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
349495  충북  20161231  단양군  0.005167  1.116667  0.006750  0.023458  44.541667
349496  충북  20161231  제천시  0.007917  1.887500  0.008125  0.030667  57.375000
349497  충북  20161231  진천군  0.003583  0.758333  0.001250  0.029167  54.875000
349498  충북  20161231  청주시  0.004410  0.803472  0.004292  0.026611  54.335664
349499  충북  20161231  충주시  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 8 columns]

In [ ]:
ulsan_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
ulsan_train

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
338597  충북  20110101  괴산군       NaN       NaN       NaN       NaN        NaN
338598  충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
338599  충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
338600  충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
338601  충북  20110102  괴산군       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
347451  충북  20151231  괴산군  0.002462  0.533333  0.016458  0.016129  61.291667
347452  충북  20151231  단양군  0.005083  0.925000  0.015125  0.020333  50.833333
347453  충북  20151231  제천시  0.006875  1.333333  0.007792  0.028083  63.291667
347454  충북  20151231  청주시  0.005986  0.797902  0.009503  0.029741  69.679389
347455  충북  20151231  충주시  0.005646  0.887500  0.005625  0.036437  56.833333

[8859 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
ulsan_train_mice = imputer_mice.fit_transform(ulsan_train2)
ulsan_test_mice = imputer_mice.transform(ulsan_test2)

In [ ]:
df1 = pd.DataFrame(ulsan_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(ulsan_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.004029  0.516728  0.025556  0.019614  49.829167
1      0.012583  1.329167  0.008958  0.031208  62.666667
2      0.003792  0.645833  0.012417  0.021042  65.041667
3      0.011833  1.400000  0.010625  0.028708  48.625000
4      0.004029  0.516728  0.025556  0.019614  49.829167
...         ...       ...       ...       ...        ...
10898  0.005167  1.116667  0.006750  0.023458  44.541667
10899  0.007917  1.887500  0.008125  0.030667  57.375000
10900  0.003583  0.758333  0.001250  0.029167  54.875000
10901  0.004410  0.803472  0.004292  0.026611  54.335664
10902  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 5 columns]

In [ ]:
df4 = ulsan.iloc[:,0:3]
df4.reset_index(drop=True,inplace=True)
df4

       지역       측정일  시군구
0      충북  20110101  괴산군
1      충북  20110101  제천시
2      충북  20110101  청주시
3      충북  20110101  충주시
4      충북  20110102  괴산군
...    ..       ...  ...
10898  충북  20161231  단양군
10899  충북  20161231  제천시
10900  충북  20161231  진천군
10901  충북  20161231  청주시
10902  충북  20161231  충주시

[10903 rows x 3 columns]

In [ ]:
df = pd.concat([df3, df4], axis=1)
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      충북  20110101  괴산군  0.004029  0.516728  0.025556  0.019614  49.829167
1      충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
2      충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
3      충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
4      충북  20110102  괴산군  0.004029  0.516728  0.025556  0.019614  49.829167
...    ..       ...  ...       ...       ...       ...       ...        ...
10898  충북  20161231  단양군  0.005167  1.116667  0.006750  0.023458  44.541667
10899  충북  20161231  제천시  0.007917  1.887500  0.008125  0.030667  57.375000
10900  충북  20161231  진천군  0.003583  0.758333  0.001250  0.029167  54.875000
10901  충북  20161231  청주시  0.004410  0.803472  0.004292  0.026611  54.335664
10902  충북  20161231  충주시  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/울산_대기오염_mice.csv', index=False)

## 인천

In [ ]:
incheon = air[(air['지역']=="인천")]
incheon_train = incheon[(incheon['측정일']>=20110101) & (incheon['측정일']<=20151231)]
incheon_test = incheon[incheon['측정일']>=20160101]
incheon_train2 = incheon_train.iloc[:, 3:]
incheon_test2 = incheon_test.iloc[:, 3:]

In [ ]:
incheon

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
338597  충북  20110101  괴산군       NaN       NaN       NaN       NaN        NaN
338598  충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
338599  충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
338600  충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
338601  충북  20110102  괴산군       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
349495  충북  20161231  단양군  0.005167  1.116667  0.006750  0.023458  44.541667
349496  충북  20161231  제천시  0.007917  1.887500  0.008125  0.030667  57.375000
349497  충북  20161231  진천군  0.003583  0.758333  0.001250  0.029167  54.875000
349498  충북  20161231  청주시  0.004410  0.803472  0.004292  0.026611  54.335664
349499  충북  20161231  충주시  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 8 columns]

In [ ]:
incheon_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
incheon_train

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
338597  충북  20110101  괴산군       NaN       NaN       NaN       NaN        NaN
338598  충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
338599  충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
338600  충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
338601  충북  20110102  괴산군       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
347451  충북  20151231  괴산군  0.002462  0.533333  0.016458  0.016129  61.291667
347452  충북  20151231  단양군  0.005083  0.925000  0.015125  0.020333  50.833333
347453  충북  20151231  제천시  0.006875  1.333333  0.007792  0.028083  63.291667
347454  충북  20151231  청주시  0.005986  0.797902  0.009503  0.029741  69.679389
347455  충북  20151231  충주시  0.005646  0.887500  0.005625  0.036437  56.833333

[8859 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
incheon_train_mice = imputer_mice.fit_transform(incheon_train2)
incheon_test_mice = imputer_mice.transform(incheon_test2)

In [ ]:
df1 = pd.DataFrame(incheon_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(incheon_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.004029  0.516728  0.025556  0.019614  49.829167
1      0.012583  1.329167  0.008958  0.031208  62.666667
2      0.003792  0.645833  0.012417  0.021042  65.041667
3      0.011833  1.400000  0.010625  0.028708  48.625000
4      0.004029  0.516728  0.025556  0.019614  49.829167
...         ...       ...       ...       ...        ...
10898  0.005167  1.116667  0.006750  0.023458  44.541667
10899  0.007917  1.887500  0.008125  0.030667  57.375000
10900  0.003583  0.758333  0.001250  0.029167  54.875000
10901  0.004410  0.803472  0.004292  0.026611  54.335664
10902  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 5 columns]

In [ ]:
df4 = incheon.iloc[:,0:3]
df4.reset_index(drop=True,inplace=True)
df4

       지역       측정일  시군구
0      충북  20110101  괴산군
1      충북  20110101  제천시
2      충북  20110101  청주시
3      충북  20110101  충주시
4      충북  20110102  괴산군
...    ..       ...  ...
10898  충북  20161231  단양군
10899  충북  20161231  제천시
10900  충북  20161231  진천군
10901  충북  20161231  청주시
10902  충북  20161231  충주시

[10903 rows x 3 columns]

In [ ]:
df = pd.concat([df3, df4], axis=1)
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      충북  20110101  괴산군  0.004029  0.516728  0.025556  0.019614  49.829167
1      충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
2      충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
3      충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
4      충북  20110102  괴산군  0.004029  0.516728  0.025556  0.019614  49.829167
...    ..       ...  ...       ...       ...       ...       ...        ...
10898  충북  20161231  단양군  0.005167  1.116667  0.006750  0.023458  44.541667
10899  충북  20161231  제천시  0.007917  1.887500  0.008125  0.030667  57.375000
10900  충북  20161231  진천군  0.003583  0.758333  0.001250  0.029167  54.875000
10901  충북  20161231  청주시  0.004410  0.803472  0.004292  0.026611  54.335664
10902  충북  20161231  충주시  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/인천_대기오염_mice.csv', index=False)

## 전남

In [ ]:
jeonnam = air[(air['지역']=="전남")]
jeonnam_train = jeonnam[(jeonnam['측정일']>=20110101) & (jeonnam['측정일']<=20151231)]
jeonnam_test = jeonnam[jeonnam['측정일']>=20160101]
jeonnam_train2 = jeonnam_train.iloc[:, 3:]
jeonnam_test2 = jeonnam_test.iloc[:, 3:]

In [ ]:
jeonnam

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
338597  충북  20110101  괴산군       NaN       NaN       NaN       NaN        NaN
338598  충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
338599  충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
338600  충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
338601  충북  20110102  괴산군       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
349495  충북  20161231  단양군  0.005167  1.116667  0.006750  0.023458  44.541667
349496  충북  20161231  제천시  0.007917  1.887500  0.008125  0.030667  57.375000
349497  충북  20161231  진천군  0.003583  0.758333  0.001250  0.029167  54.875000
349498  충북  20161231  청주시  0.004410  0.803472  0.004292  0.026611  54.335664
349499  충북  20161231  충주시  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 8 columns]

In [ ]:
jeonnam_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
jeonnam_train

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
338597  충북  20110101  괴산군       NaN       NaN       NaN       NaN        NaN
338598  충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
338599  충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
338600  충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
338601  충북  20110102  괴산군       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
347451  충북  20151231  괴산군  0.002462  0.533333  0.016458  0.016129  61.291667
347452  충북  20151231  단양군  0.005083  0.925000  0.015125  0.020333  50.833333
347453  충북  20151231  제천시  0.006875  1.333333  0.007792  0.028083  63.291667
347454  충북  20151231  청주시  0.005986  0.797902  0.009503  0.029741  69.679389
347455  충북  20151231  충주시  0.005646  0.887500  0.005625  0.036437  56.833333

[8859 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
jeonnam_train_mice = imputer_mice.fit_transform(jeonnam_train2)
jeonnam_test_mice = imputer_mice.transform(jeonnam_test2)

In [ ]:
df1 = pd.DataFrame(jeonnam_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(jeonnam_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.004029  0.516728  0.025556  0.019614  49.829167
1      0.012583  1.329167  0.008958  0.031208  62.666667
2      0.003792  0.645833  0.012417  0.021042  65.041667
3      0.011833  1.400000  0.010625  0.028708  48.625000
4      0.004029  0.516728  0.025556  0.019614  49.829167
...         ...       ...       ...       ...        ...
10898  0.005167  1.116667  0.006750  0.023458  44.541667
10899  0.007917  1.887500  0.008125  0.030667  57.375000
10900  0.003583  0.758333  0.001250  0.029167  54.875000
10901  0.004410  0.803472  0.004292  0.026611  54.335664
10902  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 5 columns]

In [ ]:
df4 = jeonnam.iloc[:,0:3]
df4.reset_index(drop=True,inplace=True)
df4

       지역       측정일  시군구
0      충북  20110101  괴산군
1      충북  20110101  제천시
2      충북  20110101  청주시
3      충북  20110101  충주시
4      충북  20110102  괴산군
...    ..       ...  ...
10898  충북  20161231  단양군
10899  충북  20161231  제천시
10900  충북  20161231  진천군
10901  충북  20161231  청주시
10902  충북  20161231  충주시

[10903 rows x 3 columns]

In [ ]:
df = pd.concat([df3, df4], axis=1)
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      충북  20110101  괴산군  0.004029  0.516728  0.025556  0.019614  49.829167
1      충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
2      충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
3      충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
4      충북  20110102  괴산군  0.004029  0.516728  0.025556  0.019614  49.829167
...    ..       ...  ...       ...       ...       ...       ...        ...
10898  충북  20161231  단양군  0.005167  1.116667  0.006750  0.023458  44.541667
10899  충북  20161231  제천시  0.007917  1.887500  0.008125  0.030667  57.375000
10900  충북  20161231  진천군  0.003583  0.758333  0.001250  0.029167  54.875000
10901  충북  20161231  청주시  0.004410  0.803472  0.004292  0.026611  54.335664
10902  충북  20161231  충주시  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/전남_대기오염_mice.csv', index=False)

## 전북

In [ ]:
jeonbuk = air[(air['지역']=="전북")]
jeonbuk_train = jeonbuk[(jeonbuk['측정일']>=20110101) & (jeonbuk['측정일']<=20151231)]
jeonbuk_test = jeonbuk[jeonbuk['측정일']>=20160101]
jeonbuk_train2 = jeonbuk_train.iloc[:, 3:]
jeonbuk_test2 = jeonbuk_test.iloc[:, 3:]

In [ ]:
jeonbuk

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
338597  충북  20110101  괴산군       NaN       NaN       NaN       NaN        NaN
338598  충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
338599  충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
338600  충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
338601  충북  20110102  괴산군       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
349495  충북  20161231  단양군  0.005167  1.116667  0.006750  0.023458  44.541667
349496  충북  20161231  제천시  0.007917  1.887500  0.008125  0.030667  57.375000
349497  충북  20161231  진천군  0.003583  0.758333  0.001250  0.029167  54.875000
349498  충북  20161231  청주시  0.004410  0.803472  0.004292  0.026611  54.335664
349499  충북  20161231  충주시  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 8 columns]

In [ ]:
jeonbuk_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
jeonbuk_train

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
338597  충북  20110101  괴산군       NaN       NaN       NaN       NaN        NaN
338598  충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
338599  충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
338600  충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
338601  충북  20110102  괴산군       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
347451  충북  20151231  괴산군  0.002462  0.533333  0.016458  0.016129  61.291667
347452  충북  20151231  단양군  0.005083  0.925000  0.015125  0.020333  50.833333
347453  충북  20151231  제천시  0.006875  1.333333  0.007792  0.028083  63.291667
347454  충북  20151231  청주시  0.005986  0.797902  0.009503  0.029741  69.679389
347455  충북  20151231  충주시  0.005646  0.887500  0.005625  0.036437  56.833333

[8859 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
jeonbuk_train_mice = imputer_mice.fit_transform(jeonbuk_train2)
jeonbuk_test_mice = imputer_mice.transform(jeonbuk_test2)

In [ ]:
df1 = pd.DataFrame(jeonbuk_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(jeonbuk_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.004029  0.516728  0.025556  0.019614  49.829167
1      0.012583  1.329167  0.008958  0.031208  62.666667
2      0.003792  0.645833  0.012417  0.021042  65.041667
3      0.011833  1.400000  0.010625  0.028708  48.625000
4      0.004029  0.516728  0.025556  0.019614  49.829167
...         ...       ...       ...       ...        ...
10898  0.005167  1.116667  0.006750  0.023458  44.541667
10899  0.007917  1.887500  0.008125  0.030667  57.375000
10900  0.003583  0.758333  0.001250  0.029167  54.875000
10901  0.004410  0.803472  0.004292  0.026611  54.335664
10902  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 5 columns]

In [ ]:
df4 = jeonbuk.iloc[:,0:3]
df4.reset_index(drop=True,inplace=True)
df4

       지역       측정일  시군구
0      충북  20110101  괴산군
1      충북  20110101  제천시
2      충북  20110101  청주시
3      충북  20110101  충주시
4      충북  20110102  괴산군
...    ..       ...  ...
10898  충북  20161231  단양군
10899  충북  20161231  제천시
10900  충북  20161231  진천군
10901  충북  20161231  청주시
10902  충북  20161231  충주시

[10903 rows x 3 columns]

In [ ]:
df = pd.concat([df3, df4], axis=1)
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      충북  20110101  괴산군  0.004029  0.516728  0.025556  0.019614  49.829167
1      충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
2      충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
3      충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
4      충북  20110102  괴산군  0.004029  0.516728  0.025556  0.019614  49.829167
...    ..       ...  ...       ...       ...       ...       ...        ...
10898  충북  20161231  단양군  0.005167  1.116667  0.006750  0.023458  44.541667
10899  충북  20161231  제천시  0.007917  1.887500  0.008125  0.030667  57.375000
10900  충북  20161231  진천군  0.003583  0.758333  0.001250  0.029167  54.875000
10901  충북  20161231  청주시  0.004410  0.803472  0.004292  0.026611  54.335664
10902  충북  20161231  충주시  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/전북_대기오염_mice.csv', index=False)

## 제주

In [ ]:
jeju = air[(air['지역']=="제주")]
jeju_train = jeju[(jeju['측정일']>=20110101) & (jeju['측정일']<=20151231)]
jeju_test = jeju[jeju['측정일']>=20160101]
jeju_train2 = jeju_train.iloc[:, 3:]
jeju_test2 = jeju_test.iloc[:, 3:]

In [ ]:
jeju

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
338597  충북  20110101  괴산군       NaN       NaN       NaN       NaN        NaN
338598  충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
338599  충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
338600  충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
338601  충북  20110102  괴산군       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
349495  충북  20161231  단양군  0.005167  1.116667  0.006750  0.023458  44.541667
349496  충북  20161231  제천시  0.007917  1.887500  0.008125  0.030667  57.375000
349497  충북  20161231  진천군  0.003583  0.758333  0.001250  0.029167  54.875000
349498  충북  20161231  청주시  0.004410  0.803472  0.004292  0.026611  54.335664
349499  충북  20161231  충주시  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 8 columns]

In [ ]:
jeju_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
jeju_train

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
338597  충북  20110101  괴산군       NaN       NaN       NaN       NaN        NaN
338598  충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
338599  충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
338600  충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
338601  충북  20110102  괴산군       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
347451  충북  20151231  괴산군  0.002462  0.533333  0.016458  0.016129  61.291667
347452  충북  20151231  단양군  0.005083  0.925000  0.015125  0.020333  50.833333
347453  충북  20151231  제천시  0.006875  1.333333  0.007792  0.028083  63.291667
347454  충북  20151231  청주시  0.005986  0.797902  0.009503  0.029741  69.679389
347455  충북  20151231  충주시  0.005646  0.887500  0.005625  0.036437  56.833333

[8859 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
jeju_train_mice = imputer_mice.fit_transform(jeju_train2)
jeju_test_mice = imputer_mice.transform(jeju_test2)

In [ ]:
df1 = pd.DataFrame(jeju_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(jeju_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.004029  0.516728  0.025556  0.019614  49.829167
1      0.012583  1.329167  0.008958  0.031208  62.666667
2      0.003792  0.645833  0.012417  0.021042  65.041667
3      0.011833  1.400000  0.010625  0.028708  48.625000
4      0.004029  0.516728  0.025556  0.019614  49.829167
...         ...       ...       ...       ...        ...
10898  0.005167  1.116667  0.006750  0.023458  44.541667
10899  0.007917  1.887500  0.008125  0.030667  57.375000
10900  0.003583  0.758333  0.001250  0.029167  54.875000
10901  0.004410  0.803472  0.004292  0.026611  54.335664
10902  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 5 columns]

In [ ]:
df4 = jeju.iloc[:,0:3]
df4.reset_index(drop=True,inplace=True)
df4

       지역       측정일  시군구
0      충북  20110101  괴산군
1      충북  20110101  제천시
2      충북  20110101  청주시
3      충북  20110101  충주시
4      충북  20110102  괴산군
...    ..       ...  ...
10898  충북  20161231  단양군
10899  충북  20161231  제천시
10900  충북  20161231  진천군
10901  충북  20161231  청주시
10902  충북  20161231  충주시

[10903 rows x 3 columns]

In [ ]:
df = pd.concat([df3, df4], axis=1)
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      충북  20110101  괴산군  0.004029  0.516728  0.025556  0.019614  49.829167
1      충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
2      충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
3      충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
4      충북  20110102  괴산군  0.004029  0.516728  0.025556  0.019614  49.829167
...    ..       ...  ...       ...       ...       ...       ...        ...
10898  충북  20161231  단양군  0.005167  1.116667  0.006750  0.023458  44.541667
10899  충북  20161231  제천시  0.007917  1.887500  0.008125  0.030667  57.375000
10900  충북  20161231  진천군  0.003583  0.758333  0.001250  0.029167  54.875000
10901  충북  20161231  청주시  0.004410  0.803472  0.004292  0.026611  54.335664
10902  충북  20161231  충주시  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/제주_대기오염_mice.csv', index=False)

## 충남

In [ ]:
chungnam = air[(air['지역']=="충남")]
chungnam_train = chungnam[(chungnam['측정일']>=20110101) & (chungnam['측정일']<=20151231)]
chungnam_test = chungnam[chungnam['측정일']>=20160101]
chungnam_train2 = chungnam_train.iloc[:, 3:]
chungnam_test2 = chungnam_test.iloc[:, 3:]

In [ ]:
chungnam

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
338597  충북  20110101  괴산군       NaN       NaN       NaN       NaN        NaN
338598  충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
338599  충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
338600  충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
338601  충북  20110102  괴산군       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
349495  충북  20161231  단양군  0.005167  1.116667  0.006750  0.023458  44.541667
349496  충북  20161231  제천시  0.007917  1.887500  0.008125  0.030667  57.375000
349497  충북  20161231  진천군  0.003583  0.758333  0.001250  0.029167  54.875000
349498  충북  20161231  청주시  0.004410  0.803472  0.004292  0.026611  54.335664
349499  충북  20161231  충주시  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 8 columns]

In [ ]:
chungnam_train.columns

Index(['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [ ]:
chungnam_train

        지역       측정일  시군구       SO2        CO        O3       NO2       PM10
338597  충북  20110101  괴산군       NaN       NaN       NaN       NaN        NaN
338598  충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
338599  충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
338600  충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
338601  충북  20110102  괴산군       NaN       NaN       NaN       NaN        NaN
...     ..       ...  ...       ...       ...       ...       ...        ...
347451  충북  20151231  괴산군  0.002462  0.533333  0.016458  0.016129  61.291667
347452  충북  20151231  단양군  0.005083  0.925000  0.015125  0.020333  50.833333
347453  충북  20151231  제천시  0.006875  1.333333  0.007792  0.028083  63.291667
347454  충북  20151231  청주시  0.005986  0.797902  0.009503  0.029741  69.679389
347455  충북  20151231  충주시  0.005646  0.887500  0.005625  0.036437  56.833333

[8859 rows x 8 columns]

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# random_state값은 원하시는 숫자 아무거나 넣으시면 됩니다.
imputer_mice = IterativeImputer(random_state=24)
chungnam_train_mice = imputer_mice.fit_transform(chungnam_train2)
chungnam_test_mice = imputer_mice.transform(chungnam_test2)

In [ ]:
df1 = pd.DataFrame(chungnam_train_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df2 = pd.DataFrame(chungnam_test_mice, columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10'])
df3 = pd.concat([df1, df2], ignore_index=True)
df3

            SO2        CO        O3       NO2       PM10
0      0.004029  0.516728  0.025556  0.019614  49.829167
1      0.012583  1.329167  0.008958  0.031208  62.666667
2      0.003792  0.645833  0.012417  0.021042  65.041667
3      0.011833  1.400000  0.010625  0.028708  48.625000
4      0.004029  0.516728  0.025556  0.019614  49.829167
...         ...       ...       ...       ...        ...
10898  0.005167  1.116667  0.006750  0.023458  44.541667
10899  0.007917  1.887500  0.008125  0.030667  57.375000
10900  0.003583  0.758333  0.001250  0.029167  54.875000
10901  0.004410  0.803472  0.004292  0.026611  54.335664
10902  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 5 columns]

In [ ]:
df4 = chungnam.iloc[:,0:3]
df4.reset_index(drop=True,inplace=True)
df4

       지역       측정일  시군구
0      충북  20110101  괴산군
1      충북  20110101  제천시
2      충북  20110101  청주시
3      충북  20110101  충주시
4      충북  20110102  괴산군
...    ..       ...  ...
10898  충북  20161231  단양군
10899  충북  20161231  제천시
10900  충북  20161231  진천군
10901  충북  20161231  청주시
10902  충북  20161231  충주시

[10903 rows x 3 columns]

In [ ]:
df = pd.concat([df3, df4], axis=1)
df = df[['지역', '측정일', '시군구', 'SO2', 'CO', 'O3', 'NO2', 'PM10']]
df

       지역       측정일  시군구       SO2        CO        O3       NO2       PM10
0      충북  20110101  괴산군  0.004029  0.516728  0.025556  0.019614  49.829167
1      충북  20110101  제천시  0.012583  1.329167  0.008958  0.031208  62.666667
2      충북  20110101  청주시  0.003792  0.645833  0.012417  0.021042  65.041667
3      충북  20110101  충주시  0.011833  1.400000  0.010625  0.028708  48.625000
4      충북  20110102  괴산군  0.004029  0.516728  0.025556  0.019614  49.829167
...    ..       ...  ...       ...       ...       ...       ...        ...
10898  충북  20161231  단양군  0.005167  1.116667  0.006750  0.023458  44.541667
10899  충북  20161231  제천시  0.007917  1.887500  0.008125  0.030667  57.375000
10900  충북  20161231  진천군  0.003583  0.758333  0.001250  0.029167  54.875000
10901  충북  20161231  청주시  0.004410  0.803472  0.004292  0.026611  54.335664
10902  충북  20161231  충주시  0.004021  0.887500  0.004063  0.035167  42.625000

[10903 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/22-2/날씨 빅콘/data/전처리데이터/대기오염/대기오염mice/충남_대기오염_mice.csv', index=False)

## 충북