In [ ]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
weight=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/인구수/weight.csv')
weight.head()

  area region city  weight_12  weight_13  weight_14  weight_15  weight_16
0   강원    갈말읍  철원군   0.025552   0.025281   0.025333   0.025881   0.025390
1   강원   대관령면  평창군   0.023239   0.023254   0.023241   0.023070   0.022907
2   강원   명륜1동  원주시   0.172527   0.172989   0.174220   0.176605   0.178727
3   강원    사천면  강릉시   0.115986   0.115458   0.114876   0.113793   0.113084
4   강원    송정동  강릉시   0.115986   0.115458   0.114876   0.113793   0.113084

# 강원

## 갈말읍, 대관령면, 명륜1동, 사천면, 송정동, 신북읍, 신사우동, 영월읍, 인제읍, 정선읍, 중앙동, 토성면, 홍천읍, 황지동

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_갈말읍_결측처리.csv')
df2=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_대관령면_결측처리.csv')
df3=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_명륜1동_결측처리.csv')
df4=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_사천면_결측처리.csv')

df5=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_송정동_결측처리.csv')
df6=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_신북읍_결측처리.csv')
df7=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_신사우동_결측처리.csv')
df8=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_영월읍_결측처리.csv')

df9=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_인제읍_결측처리.csv')
df10=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_정선읍_결측처리.csv')
df11=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_중앙동_결측처리.csv')
df12=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_토성면_결측처리.csv')

df13=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_홍천읍_결측처리.csv')
df14=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/강원/강원_황지동_결측처리.csv')

In [ ]:
#한글깨짐 해결
df1['area']='강원'
df1['region']='갈말읍'

df2['area']='강원'
df2['region']='대관령면'

df3['area']='강원'
df3['region']='명륜1동'

df4['area']='강원'
df4['region']='사천면'

df5['area']='강원'
df5['region']='송정동'

df6['area']='강원'
df6['region']='신북읍'

df7['area']='강원'
df7['region']='신사우동'

df8['area']='강원'
df8['region']='영월읍'

df9['area']='강원'
df9['region']='인제읍'

df10['area']='강원'
df10['region']='정선읍'

df11['area']='강원'
df11['region']='중앙동'

df12['area']='강원'
df12['region']='토성면'

df13['area']='강원'
df13['region']='홍천읍'

df14['area']='강원'
df14['region']='황지동'

In [ ]:
# 지역별 데이터 merge
dat=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14])

In [ ]:
#가중치 데이터 붙이기
dat2=pd.merge(dat, weight, how='left', on=['area','region'])

# 연도 칼럼 만들기
dat2['year']=dat2.date.str[:4]

# 연도별 데이터로 나누기
dat2012=dat2[dat2['year']=='2012']
dat2013=dat2[dat2['year']=='2013']
dat2014=dat2[dat2['year']=='2014']
dat2015=dat2[dat2['year']=='2015']
dat2016=dat2[dat2['year']=='2016']

# 해당 연도 가중치 컬럼만 남기기
dat2012_2=dat2012.drop(['weight_13','weight_14','weight_15','weight_16'],axis=1).copy()
dat2013_2=dat2013.drop(['weight_12','weight_14','weight_15','weight_16'],axis=1).copy()
dat2014_2=dat2014.drop(['weight_12','weight_13','weight_15','weight_16'],axis=1).copy()
dat2015_2=dat2015.drop(['weight_12','weight_13','weight_14','weight_16'],axis=1).copy()
dat2016_2=dat2016.drop(['weight_12','weight_13','weight_14','weight_15'],axis=1).copy()

# 가중치 곱한 연도별 데이터 만들기
for i in range(1,11):
  dat2012_2.iloc[:,i]=dat2012_2.iloc[:,i]*dat2012_2.iloc[:,14]

for i in range(1,11):
  dat2013_2.iloc[:,i]=dat2013_2.iloc[:,i]*dat2013_2.iloc[:,14]

for i in range(1,11):
  dat2014_2.iloc[:,i]=dat2014_2.iloc[:,i]*dat2014_2.iloc[:,14]

for i in range(1,11):
  dat2015_2.iloc[:,i]=dat2015_2.iloc[:,i]*dat2015_2.iloc[:,14]

for i in range(1,11):
  dat2016_2.iloc[:,i]=dat2016_2.iloc[:,i]*dat2016_2.iloc[:,14]

# 날짜별 groupby sum

inc2012=dat2012_2.groupby(dat2012_2['date']).sum().reset_index().drop(['weight_12'],axis=1)
inc2013=dat2013_2.groupby(dat2013_2['date']).sum().reset_index().drop(['weight_13'],axis=1)
inc2014=dat2014_2.groupby(dat2014_2['date']).sum().reset_index().drop(['weight_14'],axis=1)
inc2015=dat2015_2.groupby(dat2015_2['date']).sum().reset_index().drop(['weight_15'],axis=1)
inc2016=dat2016_2.groupby(dat2016_2['date']).sum().reset_index().drop(['weight_16'],axis=1)

# 시군구 하나로 합치기
inc=pd.concat([inc2012,inc2013,inc2014,inc2015,inc2016])
inc.head()

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,14.00509,11.402662,-2.769171,-2.780795,62.145093,54.361839,2.777686,-6.639387,2.430259,2.303822
1,2012-01-02,0.00000,0.000000,-3.436881,-4.981487,57.343033,50.391861,2.012825,-8.660641,2.322310,2.354607
2,2012-01-03,0.00000,0.000000,-5.245202,-4.448358,50.936193,48.045254,1.461069,-9.692602,2.474572,1.789684
3,2012-01-04,0.00000,0.000000,-4.770948,-2.929077,47.270969,52.102991,2.996645,-9.952155,2.444897,2.170302
4,2012-01-05,0.00000,0.000000,-4.640206,-4.164633,50.291953,51.382678,3.156663,-8.234346,2.130263,2.016479

In [ ]:
# csv 내보내기
inc.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_강원.csv', index=False)

# 경기

## 문산읍, 부발읍, 생연1동, 양평읍, 평동

In [ ]:
moon=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경기/경기_문산읍_결측처리.csv',encoding='utf-8')
bu=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경기/경기_부발읍_결측처리.csv',encoding='utf-8')
saeng=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경기/경기_생연1동_결측처리.csv',encoding='utf-8')
yang=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경기/경기_양평읍_결측처리.csv',encoding='utf-8')
pyeong=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경기/경기_평동_결측처리.csv',encoding='utf-8')

In [ ]:
#한글깨짐 해결
moon['area']='경기'
moon['region']='문산읍'

bu['area']='경기'
bu['region']='부발읍'

saeng['area']='경기'
saeng['region']='생연1동'

yang['area']='경기'
yang['region']='양평읍'

pyeong['area']='경기'
pyeong['region']='평동'

In [ ]:
# 지역별 데이터 merge
dat=pd.concat([moon,bu,saeng,yang,pyeong])

In [ ]:
#가중치 데이터 붙이기
dat2=pd.merge(dat, weight, how='left', on=['area','region'])

# 연도 칼럼 만들기
dat2['year']=dat2.date.str[:4]

# 연도별 데이터로 나누기
dat2012=dat2[dat2['year']=='2012']
dat2013=dat2[dat2['year']=='2013']
dat2014=dat2[dat2['year']=='2014']
dat2015=dat2[dat2['year']=='2015']
dat2016=dat2[dat2['year']=='2016']

# 해당 연도 가중치 컬럼만 남기기
dat2012_2=dat2012.drop(['weight_13','weight_14','weight_15','weight_16'],axis=1).copy()
dat2013_2=dat2013.drop(['weight_12','weight_14','weight_15','weight_16'],axis=1).copy()
dat2014_2=dat2014.drop(['weight_12','weight_13','weight_15','weight_16'],axis=1).copy()
dat2015_2=dat2015.drop(['weight_12','weight_13','weight_14','weight_16'],axis=1).copy()
dat2016_2=dat2016.drop(['weight_12','weight_13','weight_14','weight_15'],axis=1).copy()

# 가중치 곱한 연도별 데이터 만들기
for i in range(1,11):
  dat2012_2.iloc[:,i]=dat2012_2.iloc[:,i]*dat2012_2.iloc[:,14]

for i in range(1,11):
  dat2013_2.iloc[:,i]=dat2013_2.iloc[:,i]*dat2013_2.iloc[:,14]

for i in range(1,11):
  dat2014_2.iloc[:,i]=dat2014_2.iloc[:,i]*dat2014_2.iloc[:,14]

for i in range(1,11):
  dat2015_2.iloc[:,i]=dat2015_2.iloc[:,i]*dat2015_2.iloc[:,14]

for i in range(1,11):
  dat2016_2.iloc[:,i]=dat2016_2.iloc[:,i]*dat2016_2.iloc[:,14]

# 날짜별 groupby sum

inc2012=dat2012_2.groupby(dat2012_2['date']).sum().reset_index().drop(['weight_12'],axis=1)
inc2013=dat2013_2.groupby(dat2013_2['date']).sum().reset_index().drop(['weight_13'],axis=1)
inc2014=dat2014_2.groupby(dat2014_2['date']).sum().reset_index().drop(['weight_14'],axis=1)
inc2015=dat2015_2.groupby(dat2015_2['date']).sum().reset_index().drop(['weight_15'],axis=1)
inc2016=dat2016_2.groupby(dat2016_2['date']).sum().reset_index().drop(['weight_16'],axis=1)

# 시군구 하나로 합치기
inc=pd.concat([inc2012,inc2013,inc2014,inc2015,inc2016])
inc.head()

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,2.08604,1.0,-5.236538,-4.059202,64.109753,67.450302,0.981884,-10.448281,0.974171,1.550242
1,2012-01-02,0.00000,0.0,-4.789315,-5.884867,65.926545,50.513983,-0.865149,-9.370429,1.634706,2.653542
2,2012-01-03,0.00000,0.0,-7.031787,-6.304559,52.678560,58.294752,-0.339389,-12.281311,2.510930,1.254946
3,2012-01-04,0.00000,0.0,-6.401354,-3.585021,62.954406,60.653051,1.669611,-12.557269,1.267142,1.413510
4,2012-01-05,0.00000,0.0,-5.260493,-5.043117,57.076491,58.316982,2.051585,-10.902404,1.541970,1.133343

In [ ]:
# csv 내보내기
inc.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_경기.csv', index=False)

# 경남

## 가포동, 거창읍, 내이동, 동면, 명곡동, 부원동, 산청읍, 의령읍, 이동면, 장평동, 정량동, 평거동, 함양읍, 합천읍

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_가포동_결측처리.csv')
df2=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_거창읍_결측처리.csv')
df3=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_내이동_결측처리.csv')
df4=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_동면_결측처리.csv')

df5=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_명곡동_결측처리.csv')
df6=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_부원동_결측처리.csv')
df7=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_산청읍_결측처리.csv')
df8=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_의령읍_결측처리.csv')

df9=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_이동면_결측처리.csv')
df10=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_장평동_결측처리.csv')
df11=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_정량동_결측처리.csv')
df12=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_평거동_결측처리.csv')

df13=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_함양읍_결측처리.csv')
df14=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경남/경남_합천읍_결측처리.csv')

In [ ]:
#한글깨짐 해결
df1['area']='경남'
df1['region']='가포동'

df2['area']='경남'
df2['region']='거창읍'

df3['area']='경남'
df3['region']='내이동'

df4['area']='경남'
df4['region']='동면'

df5['area']='경남'
df5['region']='명곡동'

df6['area']='경남'
df6['region']='부원동'

df7['area']='경남'
df7['region']='산청읍'

df8['area']='경남'
df8['region']='의령읍'

df9['area']='경남'
df9['region']='이동면'

df10['area']='경남'
df10['region']='장평동'

df11['area']='경남'
df11['region']='정량동'

df12['area']='경남'
df12['region']='평거동'

df13['area']='경남'
df13['region']='함양읍'

df14['area']='경남'
df14['region']='합천읍'

In [ ]:
# 지역별 데이터 merge
dat=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14])

In [ ]:
#가중치 데이터 붙이기
dat2=pd.merge(dat, weight, how='left', on=['area','region'])

# 연도 칼럼 만들기
dat2['year']=dat2.date.str[:4]

# 연도별 데이터로 나누기
dat2012=dat2[dat2['year']=='2012']
dat2013=dat2[dat2['year']=='2013']
dat2014=dat2[dat2['year']=='2014']
dat2015=dat2[dat2['year']=='2015']
dat2016=dat2[dat2['year']=='2016']

# 해당 연도 가중치 컬럼만 남기기
dat2012_2=dat2012.drop(['weight_13','weight_14','weight_15','weight_16'],axis=1).copy()
dat2013_2=dat2013.drop(['weight_12','weight_14','weight_15','weight_16'],axis=1).copy()
dat2014_2=dat2014.drop(['weight_12','weight_13','weight_15','weight_16'],axis=1).copy()
dat2015_2=dat2015.drop(['weight_12','weight_13','weight_14','weight_16'],axis=1).copy()
dat2016_2=dat2016.drop(['weight_12','weight_13','weight_14','weight_15'],axis=1).copy()

# 가중치 곱한 연도별 데이터 만들기
for i in range(1,11):
  dat2012_2.iloc[:,i]=dat2012_2.iloc[:,i]*dat2012_2.iloc[:,14]

for i in range(1,11):
  dat2013_2.iloc[:,i]=dat2013_2.iloc[:,i]*dat2013_2.iloc[:,14]

for i in range(1,11):
  dat2014_2.iloc[:,i]=dat2014_2.iloc[:,i]*dat2014_2.iloc[:,14]

for i in range(1,11):
  dat2015_2.iloc[:,i]=dat2015_2.iloc[:,i]*dat2015_2.iloc[:,14]

for i in range(1,11):
  dat2016_2.iloc[:,i]=dat2016_2.iloc[:,i]*dat2016_2.iloc[:,14]

# 날짜별 groupby sum

inc2012=dat2012_2.groupby(dat2012_2['date']).sum().reset_index().drop(['weight_12'],axis=1)
inc2013=dat2013_2.groupby(dat2013_2['date']).sum().reset_index().drop(['weight_13'],axis=1)
inc2014=dat2014_2.groupby(dat2014_2['date']).sum().reset_index().drop(['weight_14'],axis=1)
inc2015=dat2015_2.groupby(dat2015_2['date']).sum().reset_index().drop(['weight_15'],axis=1)
inc2016=dat2016_2.groupby(dat2016_2['date']).sum().reset_index().drop(['weight_16'],axis=1)

# 시군구 하나로 합치기
inc=pd.concat([inc2012,inc2013,inc2014,inc2015,inc2016])
inc.head()

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,0.000000,0.000000,0.438426,1.364762,48.460756,53.893523,6.489520,-4.497434,1.941488,2.135139
1,2012-01-02,0.000000,0.000000,0.554530,-0.614422,49.479086,40.345441,5.715917,-4.336704,2.532523,3.416825
2,2012-01-03,0.060254,0.060254,-1.043181,-0.648917,37.327807,40.856216,4.709623,-5.765797,3.674738,2.474440
3,2012-01-04,0.000000,0.000000,-1.119906,-0.061379,42.038046,48.057820,6.091933,-5.481005,2.440140,1.992848
4,2012-01-05,0.000000,0.000000,-0.319107,0.338655,43.751922,42.097922,6.875573,-5.905704,2.022980,1.732782

In [ ]:
# csv 내보내기
inc.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_경남.csv', index=False)

#경북

## 남원동, 독도, 동부동, 선주원남동, 송도동, 영해면, 울릉읍, 울진읍, 의성읍, 점촌4동, 청송읍, 춘양면, 평화동, 풍기읍, 황성동

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_남원동_결측처리.csv')
df2=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_독도_결측처리.csv')
df3=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_동부동_결측처리.csv')
df4=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_선주원남동_결측처리.csv')

df5=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_송도동_결측처리.csv')
df6=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_영해면_결측처리.csv')
df7=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_울릉읍_결측처리.csv')
df8=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_울진읍_결측처리.csv')

df9=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_의성읍_결측처리.csv')
df10=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_점촌4동_결측처리.csv')
df11=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_청송읍_결측처리.csv')
df12=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_춘양면_결측처리.csv')

df13=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_평화동_결측처리.csv')
df14=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_풍기읍_결측처리.csv')
df15=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/경북/경북_황성동_결측처리.csv')

In [ ]:
#한글깨짐 해결
df1['area']='경북'
df1['region']='남원동'

df2['area']='경북'
df2['region']='독도'

df3['area']='경북'
df3['region']='동부동'

df4['area']='경북'
df4['region']='선주원남동'

df5['area']='경북'
df5['region']='송도동'

df6['area']='경북'
df6['region']='영해면'

df7['area']='경북'
df7['region']='울릉읍'

df8['area']='경북'
df8['region']='울진읍'

df9['area']='경북'
df9['region']='의성읍'

df10['area']='경북'
df10['region']='점촌4동'

df11['area']='경북'
df11['region']='청송읍'

df12['area']='경북'
df12['region']='춘양면'

df13['area']='경북'
df13['region']='평화동'

df14['area']='경북'
df14['region']='풍기읍'

df15['area']='경북'
df15['region']='황성동'

In [ ]:
# 지역별 데이터 merge
dat=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15])

In [ ]:
#가중치 데이터 붙이기
dat2=pd.merge(dat, weight, how='left', on=['area','region'])

# 연도 칼럼 만들기
dat2['year']=dat2.date.str[:4]

# 연도별 데이터로 나누기
dat2012=dat2[dat2['year']=='2012']
dat2013=dat2[dat2['year']=='2013']
dat2014=dat2[dat2['year']=='2014']
dat2015=dat2[dat2['year']=='2015']
dat2016=dat2[dat2['year']=='2016']

# 해당 연도 가중치 컬럼만 남기기
dat2012_2=dat2012.drop(['weight_13','weight_14','weight_15','weight_16'],axis=1).copy()
dat2013_2=dat2013.drop(['weight_12','weight_14','weight_15','weight_16'],axis=1).copy()
dat2014_2=dat2014.drop(['weight_12','weight_13','weight_15','weight_16'],axis=1).copy()
dat2015_2=dat2015.drop(['weight_12','weight_13','weight_14','weight_16'],axis=1).copy()
dat2016_2=dat2016.drop(['weight_12','weight_13','weight_14','weight_15'],axis=1).copy()

# 가중치 곱한 연도별 데이터 만들기
for i in range(1,11):
  dat2012_2.iloc[:,i]=dat2012_2.iloc[:,i]*dat2012_2.iloc[:,14]

for i in range(1,11):
  dat2013_2.iloc[:,i]=dat2013_2.iloc[:,i]*dat2013_2.iloc[:,14]

for i in range(1,11):
  dat2014_2.iloc[:,i]=dat2014_2.iloc[:,i]*dat2014_2.iloc[:,14]

for i in range(1,11):
  dat2015_2.iloc[:,i]=dat2015_2.iloc[:,i]*dat2015_2.iloc[:,14]

for i in range(1,11):
  dat2016_2.iloc[:,i]=dat2016_2.iloc[:,i]*dat2016_2.iloc[:,14]

# 날짜별 groupby sum

inc2012=dat2012_2.groupby(dat2012_2['date']).sum().reset_index().drop(['weight_12'],axis=1)
inc2013=dat2013_2.groupby(dat2013_2['date']).sum().reset_index().drop(['weight_13'],axis=1)
inc2014=dat2014_2.groupby(dat2014_2['date']).sum().reset_index().drop(['weight_14'],axis=1)
inc2015=dat2015_2.groupby(dat2015_2['date']).sum().reset_index().drop(['weight_15'],axis=1)
inc2016=dat2016_2.groupby(dat2016_2['date']).sum().reset_index().drop(['weight_16'],axis=1)

# 시군구 하나로 합치기
inc=pd.concat([inc2012,inc2013,inc2014,inc2015,inc2016])
inc.head()

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,0.451021,0.397511,-1.184078,0.056853,51.533006,53.660335,4.634573,-5.744978,2.754725,2.782531
1,2012-01-02,0.107020,0.107020,-0.716044,-2.150862,53.265082,46.275435,4.354838,-5.571079,2.699554,3.349096
2,2012-01-03,0.107020,0.080265,-2.507547,-2.191561,43.987361,39.953373,2.464284,-6.916355,3.505810,2.854294
3,2012-01-04,0.053510,0.053510,-2.807214,-0.972504,43.041214,48.326123,4.127818,-7.356726,3.019874,2.262395
4,2012-01-05,0.000000,0.000000,-1.577994,-1.611983,45.815860,48.983779,4.361634,-7.148689,2.709109,2.552080

In [ ]:
# csv 내보내기
inc.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_경북.csv', index=False)

#광주
운암1동

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/광주/광주_운암1동_결측처리.csv')

#한글깨짐 해결
df1['area']='광주'
df1['region']='운암1동'

# csv 내보내기
df1.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_광주.csv', index=False)

# 대구
효목1동

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/대구/대구_효목1동_결측처리.csv')

#한글깨짐 해결
df1['area']='대구'
df1['region']='효목1동'

# csv 내보내기
df1.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_대구.csv', index=False)

#대전
온천2동

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/대전/대전_온천2동_결측처리.csv')

#한글깨짐 해결
df1['area']='대전'
df1['region']='온천2동'

# csv 내보내기
df1.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_대전.csv', index=False)

#부산
대청동

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/부산/부산_대청동_결측처리.csv')

#한글깨짐 해결
df1['area']='부산'
df1['region']='대청동'

# csv 내보내기
df1.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_부산.csv', index=False)

#서울
교남동

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/서울/서울_교남동_결측처리.csv')

#한글깨짐 해결
df1['area']='서울'
df1['region']='교남동'

# csv 내보내기
df1.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_서울.csv', index=False)

#세종
새롬동

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/세종/세종_새롬동_결측처리.csv')

#한글깨짐 해결
df1['area']='세종'
df1['region']='새롬동'

# csv 내보내기
df1.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_세종.csv', index=False)

#울산
병영2동

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/울산/울산_병영2동_결측처리.csv')

#한글깨짐 해결
df1['area']='울산'
df1['region']='병영2동'

# csv 내보내기
df1.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_울산.csv', index=False)

#인천

##덕적면, 동인천동, 백령면, 불은면

In [ ]:
deok=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/인천/인천_덕적면_결측처리.csv')
dong=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/인천/인천_동인천동_결측처리.csv')
baek=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/인천/인천_백령면_결측처리.csv')
bul=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/인천/인천_불은면_결측처리.csv')

In [ ]:
#한글깨짐 해결
deok['area']='인천'
deok['region']='덕적면'

dong['area']='인천'
dong['region']='동인천동'

baek['area']='인천'
baek['region']='백령면'

bul['area']='인천'
bul['region']='불은면'

In [ ]:
# 지역별 데이터 merge
dat=pd.concat([deok,dong,baek,bul])

In [ ]:
#가중치 데이터 붙이기
dat2=pd.merge(dat, weight, how='left', on=['area','region'])

# 연도 칼럼 만들기
dat2['year']=dat2.date.str[:4]

# 연도별 데이터로 나누기
dat2012=dat2[dat2['year']=='2012']
dat2013=dat2[dat2['year']=='2013']
dat2014=dat2[dat2['year']=='2014']
dat2015=dat2[dat2['year']=='2015']
dat2016=dat2[dat2['year']=='2016']

# 해당 연도 가중치 컬럼만 남기기
dat2012_2=dat2012.drop(['weight_13','weight_14','weight_15','weight_16'],axis=1).copy()
dat2013_2=dat2013.drop(['weight_12','weight_14','weight_15','weight_16'],axis=1).copy()
dat2014_2=dat2014.drop(['weight_12','weight_13','weight_15','weight_16'],axis=1).copy()
dat2015_2=dat2015.drop(['weight_12','weight_13','weight_14','weight_16'],axis=1).copy()
dat2016_2=dat2016.drop(['weight_12','weight_13','weight_14','weight_15'],axis=1).copy()

# 가중치 곱한 연도별 데이터 만들기
for i in range(1,11):
  dat2012_2.iloc[:,i]=dat2012_2.iloc[:,i]*dat2012_2.iloc[:,14]

for i in range(1,11):
  dat2013_2.iloc[:,i]=dat2013_2.iloc[:,i]*dat2013_2.iloc[:,14]

for i in range(1,11):
  dat2014_2.iloc[:,i]=dat2014_2.iloc[:,i]*dat2014_2.iloc[:,14]

for i in range(1,11):
  dat2015_2.iloc[:,i]=dat2015_2.iloc[:,i]*dat2015_2.iloc[:,14]

for i in range(1,11):
  dat2016_2.iloc[:,i]=dat2016_2.iloc[:,i]*dat2016_2.iloc[:,14]

# 날짜별 groupby sum

inc2012=dat2012_2.groupby(dat2012_2['date']).sum().reset_index().drop(['weight_12'],axis=1)
inc2013=dat2013_2.groupby(dat2013_2['date']).sum().reset_index().drop(['weight_13'],axis=1)
inc2014=dat2014_2.groupby(dat2014_2['date']).sum().reset_index().drop(['weight_14'],axis=1)
inc2015=dat2015_2.groupby(dat2015_2['date']).sum().reset_index().drop(['weight_15'],axis=1)
inc2016=dat2016_2.groupby(dat2016_2['date']).sum().reset_index().drop(['weight_16'],axis=1)

# 시군구 하나로 합치기
inc=pd.concat([inc2012,inc2013,inc2014,inc2015,inc2016])
inc.head()

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,3.310457,1.0,-3.348479,-2.057607,68.450025,75.442306,1.074725,-6.744380,2.608013,2.995370
1,2012-01-02,0.000000,0.0,-2.985290,-4.103954,65.900648,52.081062,-0.220880,-6.338270,2.999012,4.520983
2,2012-01-03,0.097524,0.0,-4.954379,-3.705613,56.614518,54.082489,-0.295670,-8.312242,4.316380,2.627431
3,2012-01-04,0.000000,0.0,-4.320316,-2.836445,57.165706,54.641325,1.042239,-8.523370,2.506674,2.853476
4,2012-01-05,0.000000,0.0,-3.078578,-2.450589,56.268818,55.651907,1.230763,-6.672885,2.565084,1.885077

In [ ]:
# csv 내보내기
inc.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_인천.csv', index=False)

#전남

## 강진읍, 고흥읍, 군서면, 군외면, 득량면, 승주읍, 연산동, 장흥읍, 중마동, 중앙동, 진도읍, 해남읍, 흑산면

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_강진읍_결측처리.csv')
df2=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_고흥읍_결측처리.csv')
df3=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_군서면_결측처리.csv')
df4=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_군외면_결측처리.csv')

df5=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_득량면_결측처리.csv')
df6=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_승주읍_결측처리.csv')
df7=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_연산동_결측처리.csv')
df8=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_장흥읍_결측처리.csv')

df9=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_중마동_결측처리.csv')
df10=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_중앙동_결측처리.csv')
df11=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_진도읍_결측처리.csv')
df12=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_해남읍_결측처리.csv')
df13=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전남/전남_흑산면_결측처리.csv')

In [ ]:
#한글깨짐 해결
df1['area']='전남'
df1['region']='강진읍'

df2['area']='전남'
df2['region']='고흥읍'

df3['area']='전남'
df3['region']='군서면'

df4['area']='전남'
df4['region']='군외면'

df5['area']='전남'
df5['region']='득량면'

df6['area']='전남'
df6['region']='승주읍'

df7['area']='전남'
df7['region']='연산동'

df8['area']='전남'
df8['region']='장흥읍'

df9['area']='전남'
df9['region']='중마동'

df10['area']='전남'
df10['region']='중앙동'

df11['area']='전남'
df11['region']='진도읍'

df12['area']='전남'
df12['region']='해남읍'

df13['area']='전남'
df13['region']='흑산면'

In [ ]:
# 지역별 데이터 merge
dat=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13])

In [ ]:
#가중치 데이터 붙이기
dat2=pd.merge(dat, weight, how='left', on=['area','region'])

# 연도 칼럼 만들기
dat2['year']=dat2.date.str[:4]

# 연도별 데이터로 나누기
dat2012=dat2[dat2['year']=='2012']
dat2013=dat2[dat2['year']=='2013']
dat2014=dat2[dat2['year']=='2014']
dat2015=dat2[dat2['year']=='2015']
dat2016=dat2[dat2['year']=='2016']

# 해당 연도 가중치 컬럼만 남기기
dat2012_2=dat2012.drop(['weight_13','weight_14','weight_15','weight_16'],axis=1).copy()
dat2013_2=dat2013.drop(['weight_12','weight_14','weight_15','weight_16'],axis=1).copy()
dat2014_2=dat2014.drop(['weight_12','weight_13','weight_15','weight_16'],axis=1).copy()
dat2015_2=dat2015.drop(['weight_12','weight_13','weight_14','weight_16'],axis=1).copy()
dat2016_2=dat2016.drop(['weight_12','weight_13','weight_14','weight_15'],axis=1).copy()

# 가중치 곱한 연도별 데이터 만들기
for i in range(1,11):
  dat2012_2.iloc[:,i]=dat2012_2.iloc[:,i]*dat2012_2.iloc[:,14]

for i in range(1,11):
  dat2013_2.iloc[:,i]=dat2013_2.iloc[:,i]*dat2013_2.iloc[:,14]

for i in range(1,11):
  dat2014_2.iloc[:,i]=dat2014_2.iloc[:,i]*dat2014_2.iloc[:,14]

for i in range(1,11):
  dat2015_2.iloc[:,i]=dat2015_2.iloc[:,i]*dat2015_2.iloc[:,14]

for i in range(1,11):
  dat2016_2.iloc[:,i]=dat2016_2.iloc[:,i]*dat2016_2.iloc[:,14]

# 날짜별 groupby sum

inc2012=dat2012_2.groupby(dat2012_2['date']).sum().reset_index().drop(['weight_12'],axis=1)
inc2013=dat2013_2.groupby(dat2013_2['date']).sum().reset_index().drop(['weight_13'],axis=1)
inc2014=dat2014_2.groupby(dat2014_2['date']).sum().reset_index().drop(['weight_14'],axis=1)
inc2015=dat2015_2.groupby(dat2015_2['date']).sum().reset_index().drop(['weight_15'],axis=1)
inc2016=dat2016_2.groupby(dat2016_2['date']).sum().reset_index().drop(['weight_16'],axis=1)

# 시군구 하나로 합치기
inc=pd.concat([inc2012,inc2013,inc2014,inc2015,inc2016])
inc.head()

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,1.426037,1.606642,0.505138,1.415525,60.192601,62.622368,5.209977,-3.056767,3.917502,3.574481
1,2012-01-02,0.000000,0.000000,0.384121,-0.963242,62.826509,58.256408,4.422699,-3.118134,3.568649,5.102831
2,2012-01-03,1.316392,1.702123,-1.165500,-0.583977,58.881988,57.591746,3.341551,-3.568759,6.281183,3.729191
3,2012-01-04,0.287136,0.287136,-0.768678,0.446454,57.948944,58.675259,5.349940,-3.846572,3.169696,2.733689
4,2012-01-05,0.000000,0.000000,-0.196609,0.266382,58.944402,51.162911,5.770022,-4.622470,3.086665,2.625905

In [ ]:
# csv 내보내기
inc.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_전남.csv', index=False)

#전북

## 고창읍, 구암동, 대산면, 덕진동, 도통동, 상교동, 순창읍, 임실읍, 장수읍, 행안면

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전북/전북_고창읍_결측처리.csv')
df2=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전북/전북_구암동_결측처리.csv')
df3=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전북/전북_대산면_결측처리.csv')
df4=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전북/전북_덕진동_결측처리.csv')

df5=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전북/전북_도통동_결측처리.csv')
df6=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전북/전북_상교동_결측처리.csv')
df7=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전북/전북_순창읍_결측처리.csv')
df8=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전북/전북_임실읍_결측처리.csv')

df9=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전북/전북_장수읍_결측처리.csv')
df10=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/전북/전북_행안면_결측처리.csv')

In [ ]:
#한글깨짐 해결
df1['area']='전북'
df1['region']='고창읍'

df2['area']='전북'
df2['region']='구암동'

df3['area']='전북'
df3['region']='대산면'

df4['area']='전북'
df4['region']='덕진동'

df5['area']='전북'
df5['region']='도통동'

df6['area']='전북'
df6['region']='상교동'

df7['area']='전북'
df7['region']='순창읍'

df8['area']='전북'
df8['region']='임실읍'

df9['area']='전북'
df9['region']='장수읍'

df10['area']='전북'
df10['region']='행안면'

In [ ]:
# 지역별 데이터 merge
dat=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10])

In [ ]:
#가중치 데이터 붙이기
dat2=pd.merge(dat, weight, how='left', on=['area','region'])

# 연도 칼럼 만들기
dat2['year']=dat2.date.str[:4]

# 연도별 데이터로 나누기
dat2012=dat2[dat2['year']=='2012']
dat2013=dat2[dat2['year']=='2013']
dat2014=dat2[dat2['year']=='2014']
dat2015=dat2[dat2['year']=='2015']
dat2016=dat2[dat2['year']=='2016']

# 해당 연도 가중치 컬럼만 남기기
dat2012_2=dat2012.drop(['weight_13','weight_14','weight_15','weight_16'],axis=1).copy()
dat2013_2=dat2013.drop(['weight_12','weight_14','weight_15','weight_16'],axis=1).copy()
dat2014_2=dat2014.drop(['weight_12','weight_13','weight_15','weight_16'],axis=1).copy()
dat2015_2=dat2015.drop(['weight_12','weight_13','weight_14','weight_16'],axis=1).copy()
dat2016_2=dat2016.drop(['weight_12','weight_13','weight_14','weight_15'],axis=1).copy()

# 가중치 곱한 연도별 데이터 만들기
for i in range(1,11):
  dat2012_2.iloc[:,i]=dat2012_2.iloc[:,i]*dat2012_2.iloc[:,14]

for i in range(1,11):
  dat2013_2.iloc[:,i]=dat2013_2.iloc[:,i]*dat2013_2.iloc[:,14]

for i in range(1,11):
  dat2014_2.iloc[:,i]=dat2014_2.iloc[:,i]*dat2014_2.iloc[:,14]

for i in range(1,11):
  dat2015_2.iloc[:,i]=dat2015_2.iloc[:,i]*dat2015_2.iloc[:,14]

for i in range(1,11):
  dat2016_2.iloc[:,i]=dat2016_2.iloc[:,i]*dat2016_2.iloc[:,14]

# 날짜별 groupby sum

inc2012=dat2012_2.groupby(dat2012_2['date']).sum().reset_index().drop(['weight_12'],axis=1)
inc2013=dat2013_2.groupby(dat2013_2['date']).sum().reset_index().drop(['weight_13'],axis=1)
inc2014=dat2014_2.groupby(dat2014_2['date']).sum().reset_index().drop(['weight_14'],axis=1)
inc2015=dat2015_2.groupby(dat2015_2['date']).sum().reset_index().drop(['weight_15'],axis=1)
inc2016=dat2016_2.groupby(dat2016_2['date']).sum().reset_index().drop(['weight_16'],axis=1)

# 시군구 하나로 합치기
inc=pd.concat([inc2012,inc2013,inc2014,inc2015,inc2016])
inc.head()

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,3.620211,3.948785,-2.197602,-0.886008,68.710485,77.439967,2.692015,-6.723199,1.515681,2.110819
1,2012-01-02,0.000000,0.000000,-1.225295,-2.765838,75.566335,68.588074,2.386101,-5.026331,2.301957,3.198165
2,2012-01-03,3.507940,3.507940,-2.882738,-2.286706,64.866382,66.572178,1.184020,-5.904279,3.435626,1.731099
3,2012-01-04,0.307520,0.980761,-3.555644,-1.832368,71.149602,72.923369,3.110186,-7.513203,1.432674,1.512434
4,2012-01-05,0.000000,0.000000,-3.161441,-2.773656,69.149691,64.327506,3.331319,-8.362125,1.653499,1.345948

In [ ]:
# csv 내보내기
inc.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_전북.csv', index=False)

#제주

##건입동, 성산읍, 정방동, 한경면

In [ ]:
gun=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/제주/제주_건입동_결측처리.csv')
sung=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/제주/제주_성산읍_결측처리.csv')
jeong=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/제주/제주_정방동_결측처리.csv')
han=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/제주/제주_한경면_결측처리.csv')

In [ ]:
#한글깨짐 해결
gun['area']='제주'
gun['region']='건입동'

sung['area']='제주'
sung['region']='성산읍'

jeong['area']='제주'
jeong['region']='정방동'

han['area']='제주'
han['region']='한경면'

In [ ]:
# 지역별 데이터 merge
dat=pd.concat([gun,sung,jeong,han])

In [ ]:
#가중치 데이터 붙이기
dat2=pd.merge(dat, weight, how='left', on=['area','region'])

# 연도 칼럼 만들기
dat2['year']=dat2.date.str[:4]

# 연도별 데이터로 나누기
dat2012=dat2[dat2['year']=='2012']
dat2013=dat2[dat2['year']=='2013']
dat2014=dat2[dat2['year']=='2014']
dat2015=dat2[dat2['year']=='2015']
dat2016=dat2[dat2['year']=='2016']

# 해당 연도 가중치 컬럼만 남기기
dat2012_2=dat2012.drop(['weight_13','weight_14','weight_15','weight_16'],axis=1).copy()
dat2013_2=dat2013.drop(['weight_12','weight_14','weight_15','weight_16'],axis=1).copy()
dat2014_2=dat2014.drop(['weight_12','weight_13','weight_15','weight_16'],axis=1).copy()
dat2015_2=dat2015.drop(['weight_12','weight_13','weight_14','weight_16'],axis=1).copy()
dat2016_2=dat2016.drop(['weight_12','weight_13','weight_14','weight_15'],axis=1).copy()

# 가중치 곱한 연도별 데이터 만들기
for i in range(1,11):
  dat2012_2.iloc[:,i]=dat2012_2.iloc[:,i]*dat2012_2.iloc[:,14]

for i in range(1,11):
  dat2013_2.iloc[:,i]=dat2013_2.iloc[:,i]*dat2013_2.iloc[:,14]

for i in range(1,11):
  dat2014_2.iloc[:,i]=dat2014_2.iloc[:,i]*dat2014_2.iloc[:,14]

for i in range(1,11):
  dat2015_2.iloc[:,i]=dat2015_2.iloc[:,i]*dat2015_2.iloc[:,14]

for i in range(1,11):
  dat2016_2.iloc[:,i]=dat2016_2.iloc[:,i]*dat2016_2.iloc[:,14]

# 날짜별 groupby sum

inc2012=dat2012_2.groupby(dat2012_2['date']).sum().reset_index().drop(['weight_12'],axis=1)
inc2013=dat2013_2.groupby(dat2013_2['date']).sum().reset_index().drop(['weight_13'],axis=1)
inc2014=dat2014_2.groupby(dat2014_2['date']).sum().reset_index().drop(['weight_14'],axis=1)
inc2015=dat2015_2.groupby(dat2015_2['date']).sum().reset_index().drop(['weight_15'],axis=1)
inc2016=dat2016_2.groupby(dat2016_2['date']).sum().reset_index().drop(['weight_16'],axis=1)

# 시군구 하나로 합치기
inc=pd.concat([inc2012,inc2013,inc2014,inc2015,inc2016])
inc.head()

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,4.340185,0.000000,5.068236,5.986638,57.805704,61.239722,8.566711,3.443700,5.080362,5.704484
1,2012-01-02,0.868037,0.000000,5.303042,2.376152,62.361241,59.993949,7.504244,1.095159,6.543600,8.126284
2,2012-01-03,2.868037,0.000000,2.791495,3.587442,62.889671,57.789954,5.527852,1.026393,7.823623,5.067697
3,2012-01-04,2.868037,0.659815,3.528846,5.128589,56.364722,56.605190,7.711870,1.602056,5.423342,4.714414
4,2012-01-05,0.000000,0.000000,5.179070,4.757568,57.074023,55.276940,8.345889,2.612467,4.544288,3.999585

In [ ]:
# csv 내보내기
inc.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_제주.csv', index=False)

#충남

## 금산읍, 대천5동, 병천면, 부여읍, 수석동, 홍북읍

In [ ]:
geum=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/충남/충남_급산읍_결측처리.csv')
dae=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/충남/충남_대천5동_결측처리.csv')
byeong=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/충남/충남_병천면_결측처리.csv')
bu=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/충남/충남_부여읍_결측처리.csv')
su=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/충남/충남_수석동_결측처리.csv')
hong=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/충남/충남_홍북읍_결측처리.csv')

In [ ]:
#한글깨짐 해결
geum['area']='충남'
geum['region']='금산읍'

dae['area']='충남'
dae['region']='대천5동'

byeong['area']='충남'
byeong['region']='병천면'

bu['area']='충남'
bu['region']='부여읍'

su['area']='충남'
su['region']='수석동'

hong['area']='충남'
hong['region']='홍북읍'

In [ ]:
# 지역별 데이터 merge
dat=pd.concat([geum,dae,byeong,bu,su,hong])

In [ ]:
#가중치 데이터 붙이기
dat2=pd.merge(dat, weight, how='left', on=['area','region'])

# 연도 칼럼 만들기
dat2['year']=dat2.date.str[:4]

# 연도별 데이터로 나누기
dat2012=dat2[dat2['year']=='2012']
dat2013=dat2[dat2['year']=='2013']
dat2014=dat2[dat2['year']=='2014']
dat2015=dat2[dat2['year']=='2015']
dat2016=dat2[dat2['year']=='2016']

# 해당 연도 가중치 컬럼만 남기기
dat2012_2=dat2012.drop(['weight_13','weight_14','weight_15','weight_16'],axis=1).copy()
dat2013_2=dat2013.drop(['weight_12','weight_14','weight_15','weight_16'],axis=1).copy()
dat2014_2=dat2014.drop(['weight_12','weight_13','weight_15','weight_16'],axis=1).copy()
dat2015_2=dat2015.drop(['weight_12','weight_13','weight_14','weight_16'],axis=1).copy()
dat2016_2=dat2016.drop(['weight_12','weight_13','weight_14','weight_15'],axis=1).copy()

# 가중치 곱한 연도별 데이터 만들기
for i in range(1,11):
  dat2012_2.iloc[:,i]=dat2012_2.iloc[:,i]*dat2012_2.iloc[:,14]

for i in range(1,11):
  dat2013_2.iloc[:,i]=dat2013_2.iloc[:,i]*dat2013_2.iloc[:,14]

for i in range(1,11):
  dat2014_2.iloc[:,i]=dat2014_2.iloc[:,i]*dat2014_2.iloc[:,14]

for i in range(1,11):
  dat2015_2.iloc[:,i]=dat2015_2.iloc[:,i]*dat2015_2.iloc[:,14]

for i in range(1,11):
  dat2016_2.iloc[:,i]=dat2016_2.iloc[:,i]*dat2016_2.iloc[:,14]

# 날짜별 groupby sum

inc2012=dat2012_2.groupby(dat2012_2['date']).sum().reset_index().drop(['weight_12'],axis=1)
inc2013=dat2013_2.groupby(dat2013_2['date']).sum().reset_index().drop(['weight_13'],axis=1)
inc2014=dat2014_2.groupby(dat2014_2['date']).sum().reset_index().drop(['weight_14'],axis=1)
inc2015=dat2015_2.groupby(dat2015_2['date']).sum().reset_index().drop(['weight_15'],axis=1)
inc2016=dat2016_2.groupby(dat2016_2['date']).sum().reset_index().drop(['weight_16'],axis=1)

# 시군구 하나로 합치기
inc=pd.concat([inc2012,inc2013,inc2014,inc2015,inc2016])
inc.head()

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,1.684136,1.684136,-3.524247,-1.728554,65.045543,72.329650,2.051944,-8.749326,1.532187,1.959215
1,2012-01-02,0.000000,0.000000,-2.395824,-3.661642,68.647731,58.420096,1.137836,-6.453476,2.034200,2.722536
2,2012-01-03,2.560005,4.739223,-4.255601,-3.632968,60.712730,60.739129,0.371573,-8.429246,2.958785,1.546770
3,2012-01-04,0.000000,0.000000,-4.320429,-2.302052,66.345496,68.377359,2.009957,-8.698131,1.486003,1.635196
4,2012-01-05,0.000000,0.000000,-3.827966,-3.488633,60.618787,55.699492,2.650818,-8.545185,1.705124,1.259525

In [ ]:
# csv 내보내기
inc.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_충남.csv', index=False)

#충북

## 강내면, 교현안림동, 보은읍, 복대1동, 용두동, 추풍령면

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/충북/충북_강내면_결측처리.csv')
df2=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/충북/충북_교현안림동_결측처리.csv')
df3=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/충북/충북_보은읍_결측처리.csv')
df4=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/충북/충북_복대1동_결측처리.csv')
df5=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/충북/충북_용두동_결측처리.csv')
df6=pd.read_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/[채리예림]/충북/충북_추풍령면_결측처리.csv')

In [ ]:
#한글깨짐 해결
df1['area']='충북'
df1['region']='강내면'

df2['area']='충북'
df2['region']='교현안림동'

df3['area']='충북'
df3['region']='보은읍'

df4['area']='충북'
df4['region']='복대1동'

df5['area']='충북'
df5['region']='용두동'

df6['area']='충북'
df6['region']='추풍령면'

In [ ]:
# 지역별 데이터 merge
dat=pd.concat([df1,df2,df3,df4,df5,df6])

In [ ]:
#가중치 데이터 붙이기
dat2=pd.merge(dat, weight, how='left', on=['area','region'])

# 연도 칼럼 만들기
dat2['year']=dat2.date.str[:4]

# 연도별 데이터로 나누기
dat2012=dat2[dat2['year']=='2012']
dat2013=dat2[dat2['year']=='2013']
dat2014=dat2[dat2['year']=='2014']
dat2015=dat2[dat2['year']=='2015']
dat2016=dat2[dat2['year']=='2016']

# 해당 연도 가중치 컬럼만 남기기
dat2012_2=dat2012.drop(['weight_13','weight_14','weight_15','weight_16'],axis=1).copy()
dat2013_2=dat2013.drop(['weight_12','weight_14','weight_15','weight_16'],axis=1).copy()
dat2014_2=dat2014.drop(['weight_12','weight_13','weight_15','weight_16'],axis=1).copy()
dat2015_2=dat2015.drop(['weight_12','weight_13','weight_14','weight_16'],axis=1).copy()
dat2016_2=dat2016.drop(['weight_12','weight_13','weight_14','weight_15'],axis=1).copy()

# 가중치 곱한 연도별 데이터 만들기
for i in range(1,11):
  dat2012_2.iloc[:,i]=dat2012_2.iloc[:,i]*dat2012_2.iloc[:,14]

for i in range(1,11):
  dat2013_2.iloc[:,i]=dat2013_2.iloc[:,i]*dat2013_2.iloc[:,14]

for i in range(1,11):
  dat2014_2.iloc[:,i]=dat2014_2.iloc[:,i]*dat2014_2.iloc[:,14]

for i in range(1,11):
  dat2015_2.iloc[:,i]=dat2015_2.iloc[:,i]*dat2015_2.iloc[:,14]

for i in range(1,11):
  dat2016_2.iloc[:,i]=dat2016_2.iloc[:,i]*dat2016_2.iloc[:,14]

# 날짜별 groupby sum

inc2012=dat2012_2.groupby(dat2012_2['date']).sum().reset_index().drop(['weight_12'],axis=1)
inc2013=dat2013_2.groupby(dat2013_2['date']).sum().reset_index().drop(['weight_13'],axis=1)
inc2014=dat2014_2.groupby(dat2014_2['date']).sum().reset_index().drop(['weight_14'],axis=1)
inc2015=dat2015_2.groupby(dat2015_2['date']).sum().reset_index().drop(['weight_15'],axis=1)
inc2016=dat2016_2.groupby(dat2016_2['date']).sum().reset_index().drop(['weight_16'],axis=1)

# 시군구 하나로 합치기
inc=pd.concat([inc2012,inc2013,inc2014,inc2015,inc2016])
inc.head()

,date,rainfall_24,snow_24,temp_24,temp_48,humid_24,humid_48,max_temp_24,min_temp_24,wind_24,wind_48
0,2012-01-01,0.00000,0.00000,-4.500245,-2.210593,61.876663,69.763010,1.580959,-10.000696,1.028785,1.369815
1,2012-01-02,0.00000,0.00000,-3.040538,-4.718354,65.230078,54.178071,0.867548,-8.012245,1.882576,2.307398
2,2012-01-03,0.08407,0.08407,-4.989342,-4.749129,56.413137,57.971786,-0.481692,-9.737698,2.311564,1.470581
3,2012-01-04,0.00000,0.00000,-5.764636,-3.197438,65.693232,66.784482,1.649739,-10.385940,1.409416,1.360244
4,2012-01-05,0.00000,0.00000,-4.446107,-4.173798,56.153130,53.887383,1.913419,-9.702390,1.486490,0.916012

In [ ]:
# csv 내보내기
inc.to_csv('/content/drive/MyDrive/날씨 빅콘/data/전처리데이터/예보데이터/예보데이터_시도/예보_충북.csv', index=False)